<template>
  <div :style="`height: ${height};`" class="layout-main">

    <nav-bar ref="navbar" v-resize="onResize" style="position: fixed !important;" class="layout-navbar"></nav-bar>

    <side-bar></side-bar>

    <div class="layout-content" :style="`top: ${contentTop}; height: ${contentMinHeight};`">
      <scroll>
        <transition name="fade" mode="out-in">
          <div v-show="loadingRouteData" class="text-center layout-loading">
            <b-spinner variant="primary" class="layout-spinner"></b-spinner>
          </div>
        </transition>
        <transition name="fade" mode="out-in">
          <div v-show="!loadingRouteData" class="layout-view">
            <router-view :key="$route.fullPath"></router-view>
          </div>
        </transition>
      </scroll>
    </div>

  </div>
</template>

<script>
  import NavBar from '@/views/layout/owner/NavBar.vue';
  import SideBar from '@/views/layout/owner/SideBar.vue';
  import mxRouter from '@/mixins/router.js';
  import mxData from '@/mixins/data.js';

  export default {
    name: 'Layout',
    mixins: [mxRouter, mxData],
    components: {
      NavBar,
      SideBar,
    },
    data() {
      return {
        height: 'auto',
        contentMinHeight: 'auto',
        contentTop: 0,
      };
    },
    methods: {
      onResize() {
        this.height = $(window).height() + 'px';
        this.contentTop = $(this.$refs.navbar.$el).height() + 'px';
        this.contentMinHeight =
          $(window).height() - $(this.$refs.navbar.$el).height() + 'px';
      },
    },
    created() {
      // Attach onresize event
      $(window).on(`resize.${this._uid}`, this.onResize);
    },
    beforeDestroy() {
      // Use namespace to not unbind other binding on same element
      $(window).off(`.${this._uid}`);
    },
    mounted() {
      this.onResize();
    },
  };
</script>

<style lang="scss" scoped>
  .layout-navbar {
    position: fixed !important;
    width: 100%;
    z-index: 10;
  }

  .layout-content {
    position: absolute;
    height: 100%;
    padding: 0;
    margin: 0;
    overflow: hidden;
    width: 100%;
  }

  .layout-view {
    padding: 20px;
  }

  .layout-main {
    background-color: #fbfbfb;
    padding: 0;
    margin: 0;
    overflow: hidden;
  }

  .layout-loading {
    width: 100%;
    height: 100%;
  }

  .layout-spinner {
    position: absolute;
    top: 37%;
    left: calc(50% - 16px);
  }

  .fade-enter-active,
  .fade-leave-active {
    transition-duration: 0.3s;
    transition-property: opacity;
    transition-timing-function: ease;
  }

  .fade-enter,
  .fade-leave-active {
    opacity: 0;
  }
</style>
