<template>
  <div>
    <b-navbar fixed small type="dark" variant="primary">

      <b-button class="appbar-menu" @click.stop="setNavigationDrawer">
        <span class="navbar-toggler-icon"></span>
      </b-button>

      <b-navbar-brand class="appbar-brand">{{ displayPage }}</b-navbar-brand>

      <!-- Right aligned nav items -->
      <b-navbar-nav class="ml-auto appbar-name">

        <b-nav-item-dropdown right>
          <template #button-content>
            {{ username }}
          </template>
          <b-dropdown-item :active="language == 'en'" @click="changeLang('en')">English</b-dropdown-item>
          <b-dropdown-item :active="language == 'fr'" @click="changeLang('fr')">Français</b-dropdown-item>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item @click="logout()">{{ $t('logout') }}</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

    </b-navbar>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    name: 'NavBar',

    data() {
      return {
        username: null,
      };
    },

    async mounted() {
      const user = await this._getUser();
      if (user && user.attributes) {
        this.username = user.attributes.name;
      }
    },

    methods: {
      ...mapActions({
        _logout: '_auth/logout',
        _setNavigationDrawer: '_layout/setNavigationDrawer',
        _setDisplayPage: '_layout/setDisplayPage',
        _getUser: '_app/getUser',
      }),

      setNavigationDrawer() {
        this._setNavigationDrawer(!this._navigationDrawer);
      },

      changeLang(lang) {
        localStorage.setItem('app.lang', lang);
        appVue.$i18n.locale = lang;
      },

      logout() {
        // We don't need to make this call Asynchronous since the Cookie and localStorage will be deleted at once
        this._logout();
        this.$router.push({ name: 'authLogin' });
        // We need to refresh, otherwise $router cache components for the route and a Owner can see pages from a Regular
        window.location.reload(true);
      },
    },

    computed: {
      ...mapGetters({
        _appSize: '_layout/appSize',
        _navigationDrawer: '_layout/navigationDrawer',
        _displayPage: '_layout/displayPage',
      }),

      language() {
        return this.$i18n.locale;
      },

      displayPage() {
        this.$i18n.locale; // Force to trigger
        this._setDisplayPage();
        return this._displayPage;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .appbar-menu {
    text-align: left;
    vertical-align: middle;
    padding: 4px;
    font-size: 26px;
    border: none;
    background: none;
    @include maxMobile {
      margin: 2px;
      font-size: 26px;
      font-size: 1.15rem;
    }
  }
  .appbar-menu:focus {
    background: rgba(255, 255, 255, 0.12);
  }
  .appbar-menu:hover {
    background: rgba(255, 255, 255, 0.12);
  }
  .appbar-menu:active {
    background: rgba(255, 255, 255, 0.3);
  }

  .appbar-brand {
    position: absolute;
    left: 76px;
    @include maxMobile {
      font-size: 1rem;
      left: 64px;
      font-size: 0.9rem;
    }
  }

  .appbar-name {
    @include maxMobile {
      font-size: 0.9rem;
    }
  }
</style>

<i18n>
{
  "en": {
    "logout": "Log Out"
  },
  "fr": {
    "logout": "Se déconnecter"
  }
}
</i18n>
