<template>
  <div>
    <b-sidebar id="sidebar-backdrop" :title="$t('menu')" backdrop shadow v-model="navigationDrawer" bg-variant="primary" text-variant="light">
      <div v-for="(item, i) in menu" :key="i" class="sidebar-div" :class="{ active: item.value == _page, }" @click.stop="action(i)" :ref="i"><i :class="item.icon" class="sidebar-icon"></i>{{ item.text }}<b-badge variant="light" class="sidebar-badge">{{ item.badge }}</b-badge>
      </div>
    </b-sidebar>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    data() {
      return {
        ordersBadges: null,
      };
    },

    computed: {
      ...mapGetters({
        _navigationDrawer: '_layout/navigationDrawer',
        _page: '_layout/page',
        _ordersChecktime: 'orders/checktime',
        _ordersAll: 'orders/all',
      }),

      navigationDrawer: {
        set(data) {
          this._setNavigationDrawer(data);
        },
        get() {
          return this._navigationDrawer;
        },
      },

      menu() {
        return {
          restaurants: {
            text: this.$i18n.t('restaurants'),
            value: 'Restaurants',
            icon: 'fas fa-store-alt',
            badge: null,
          },
          meals: {
            text: this.$i18n.t('meals'),
            value: 'Meals',
            icon: 'fas fa-pizza-slice',
            badge: null,
          },
          orders: {
            text: this.$i18n.t('orders'),
            value: 'Orders',
            icon: 'fas fa-truck',
            badge: this.ordersBadges,
          },
        };
      },
    },

    methods: {
      ...mapActions({
        _setNavigationDrawer: '_layout/setNavigationDrawer',
        _setPage: '_layout/setPage',
      }),

      action(i) {
        if (this.menu[i] && this.menu[i].value !== this._page) {
          this.navigationDrawer = false; // Close the drawer immediatly after the click event
          this.$router.push({ name: this.menu[i].value });
        }
      },
    },

    watch: {
      _ordersChecktime: {
        async handler() {
          const items = await this._ordersAll;
          // Get the number of orders with pending status (nor received[5] neither canceled[6])
          let count = jsonata(
            '$count([items[$number(attributes.status) in [1..4]]])',
          ).evaluate({ items });
          if (count <= 0) {
            count = null;
          }
          this.ordersBadges = count;
        },
        immediate: true,
      },
    },
  };
</script>

<style lang="scss" scoped>
  .sidebar-div {
    position: relative;
    background-color: #ffffff15;
    padding: 14px 20px;
    margin-bottom: 1px;
    vertical-align: middle;
    cursor: pointer;
    &:hover {
      background-color: #ffffff20;
    }
    &:active {
      background-color: #ffffff30;
    }
    &.active {
      background-color: #ffffff30;
      cursor: default;
    }
  }

  .sidebar-icon {
    width: 34px;
    opacity: 0.8;
  }

  .sidebar-badge {
    position: absolute;
    right: 20px;
    vertical-align: middle;
    transform: translateY(-50%);
    top: 50%;
  }
</style>

<i18n>
{
  "en": {
    "menu": "Menu",
    "restaurants": "My Restaurants",
    "meals": "My Meals",
    "orders": "My Orders"
  },
  "fr": {
    "menu": "Menu",
    "restaurants": "Mes restaurats",
    "meals": "Mes plats",
    "orders": "Mes commandes"
  }
}
</i18n>
