/*
  MAIN RULES
*/

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900');
@import url('https://fonts.googleapis.com/css?family=Manrope:100,300,400,500,700,900');
@import url('https://cdn.jsdelivr.net/npm/@mdi/font@latest/css/materialdesignicons.min.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.14.0/css/all.min.css');
@import '~@/assets/fonts/neutra/font.scss';

html,
body {
  margin: 0;
  padding: 0;
  position: relative !important;
  z-index: 1 !important;
  height: 100% !important;
  overflow: hidden !important;
  background-color: #fbfbfb;
  backface-visibility: hidden;
}

body > div {
  height: 100%;
}

/*
  FONTS
*/

/* SERIF */
.font_serif {
	font-family: "URW Palladio L", "URW Bookman L", "Century Schoolbook", Georgia,Times, "Times New Roman", "Palatino Linotype", serif;
}

/* SANS-SERIF */
html, body, .font_sans_serif {
	font-family: Manrope, "San Francisco", Roboto, "Helvetica Neue", Helvetica, Tahoma, Verdana, "Nimbus Sans L", "URW Gothic L", "Lucida Grande", Geneva, "DejaVu Sans", "Microsoft Sans Serif", sans-serif;
}

/* MONOSPACE */
.font_monospace {
	font-family: "Courier New", monospace, Monaco, Courier, "Bitstream Vera Sans Mono", "Courier 10 Pitch", "Nimbus Mono L","OCR A Extended", "DejaVu Sans Mono", "Lucida Console";
}

/* CURSIVE */
.font_cursive {
	font-family: "Comic Sans MS", "Domestic Manners", "URW Chancery L", "Brush Script MT", Zapfino, "Apple Chancery", "Bradley Hand ITC", "Monotype Corsiva";
}

/* FANTASY */
.font_fantasy {
	font-family: "Marked Fool", Junkyard, Balker, Papyrus, Haettenschweiler, Impact, fantasy;
}

/*
  TEXT SELECTION
*/

// Disable text selection
.bm-app_unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  cursor: default;
}

// Enable text selection
.bm-app_selectable {
  -webkit-touch-callout: text;
  -webkit-user-select: text;
  -khtml-user-select: text;
  -moz-user-select: text;
  -ms-user-select: text;
  user-select: text;
  cursor: text;
}

// Avoid visible line around selected area
.bm-app_selectable:focus {
  outline: 0;
}

.bm-app_tapHighlight_off {
  -moz-tap-highlight-color: rgba(0, 0, 0, 0);
  -moz-tap-highlight-color: transparent;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

/*
  DIVERS
*/

// Perfectly align in the middle, the parent need to be "position: relative;".
.bm-perfect_center {
  position: absolute;
  text-align: center;
  vertical-align: middle;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
}

.bm-loading-bar {
  display: block;
  position: absolute;
  width: 90%;
  left: 5%;
  height: 2px;
  bottom: 4px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100%;
  background-image: url('~@/assets/img/generic/loading-bar.gif');
  opacity: 0.8;
}

// If we want to disable the outline on focus
// .my-class:focus {
//   outline: none;
//   box-shadow: none;
// }
// Or add the class "bv-no-focus-ring"
