<template>
  <div class="credentials" ref="credentials">

    <div class="credentials-logo" v-if="false">
      <b-img center :src="logo" class="credentials-img"></b-img>
    </div>

    <div class="credentials-intro"></div>

    <div class="credentials-page">
      <scroll>
        <div class="credentials-container" :style="{minHeight: height}">
          <b-dropdown name="language" variant="link" class="credentials-language" v-model="language" no-caret toggle-class="credentials-language-button">
            <template #button-content>
              <i class="fas fa-globe-americas"></i>
            </template>
            <b-dropdown-item :active="language == 'en'" @click="changeLang('en')">English</b-dropdown-item>
            <b-dropdown-item :active="language == 'fr'" @click="changeLang('fr')">Français</b-dropdown-item>
          </b-dropdown>

          <div class="credentials-page-route">
            <router-view name="credentials"></router-view>
          </div>
          <div class="credentials-page-demo-project">
            Bruno Martin - {{ $t('demo') }}
          </div>
        </div>
      </scroll>
    </div>

  </div>
</template>

<script>
  export default {
    name: 'Credentials',

    data() {
      return {
        logo: require('@/assets/img/generic/food-b.png'),
        year: this.$moment().format('YYYY'),
        height: 'auto',
        noRoute: false,
      };
    },

    computed: {
      language() {
        return this.$i18n.locale;
      },
    },

    methods: {
      onResize() {
        this.height = `${this.$refs.credentials.clientHeight}px`;
      },

      changeLang(lang) {
        localStorage.setItem('app.lang', lang);
        appVue.$i18n.locale = lang;
      },
    },

    created() {
      // Attach onresize event
      $(window).on(`resize.${this._uid}`, this.onResize);
    },

    beforeDestroy() {
      // Use namespace to not unbind other binding on same element
      $(window).off(`.${this._uid}`);
    },

    mounted() {
      this.$nextTick(() => {
        this.onResize();
      });
    },
  };
</script>

<style lang="scss">
  .credentials-language-button {
    padding: 0;
    margin: 0;
    font-size: 28px;
    line-height: 1;
  }
</style>

<style lang="scss" scoped>
  .credentials {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: stretch;
  }

  .credentials-intro {
    position: fixed;
    width: 100%;
    height: 100%;
    top: -5;
    bottom: -5;
    right: -5;
    left: -5;
    z-index: 1;
    filter: blur(3px);
    flex-grow: 1;
    background-color: #f1f9ff;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('~@/assets/img/connection/intro.jpg');
  }

  .credentials-page {
    position: relative;
    border-left: solid 3px #6b5537;
    width: 100%;
    z-index: 2;
    background-color: #ffffffbd;
    border: none;
  }

  .credentials-language {
    position: absolute;
    right: 24px;
    top: 24px;
    z-index: 2;
    @include maxMobile {
      right: 16px;
      top: 16px;
    }
  }

  .credentials-logo {
    position: absolute;
    left: 24px;
    top: 24px;
    z-index: 3;
    height: 100px;
    @include maxMobile {
      left: 16px;
      top: 16px;
    }
  }

  .credentials-container {
    display: flex;
    flex-direction: column;
  }

  // .credentials-logo {
  //   top: 5%;
  //   left: 5%;
  //   position: fixed;
  //   height: 250px;
  //   @include maxTablet {
  //     height: 160px;
  //   }
  //   @include maxMobileL {
  //     height: 100px;
  //   }
  // }

  .credentials-img {
    height: 110px;
    @include maxTablet {
      height: 80px;
    }
    @include maxMobile {
      height: 60px;
    }
  }

  .credentials-page-route {
    flex-grow: 1;
    margin: 30px;
  }

  .credentials-page-demo-project {
    width: 100%;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    color: #8a5305;
    margin: 50px 0 30px 0;
  }
</style>

<i18n>
{
  "en": {
    "demo": "Demo Project"
  },
  "fr": {
    "demo": "Projet de démonstration"
  }
}
</i18n>
