<template>
  <div class="signing">
    <div class="signing-title">{{ $t('welcome') }}</div>
    <div class='signing-form'>
      <div class="form-group">
        <div class="signing-radio">
          <b-form-radio-group v-model="as" :options="asOptions" name="as" button-variant="secondary" stacked></b-form-radio-group>
        </div>
      </div>
      <div v-if="!isLoginPage" class="form-group">
        <b-form-input required :placeholder="$t('fullname')" @keydown.enter.prevent="signing" v-model='user.name' ref="fullname" type="text" autocomplete></b-form-input>
      </div>
      <div class="form-group">
        <b-form-input required :placeholder="$t('email')" @keydown.enter.prevent="signing" v-model='user.email' ref="email" type="email" autocomplete></b-form-input>
      </div>
      <div class="form-group">
        <b-form-input required :placeholder="$t('password')" @keydown.enter.prevent="signing" v-model='user.password' ref="password" :type="showPassword ? 'text' : 'password'" autocomplete></b-form-input>
        <div class="signing-show-password" @mousedown="showPassword=true" @mouseup="showPassword=false">
          <i v-show="!showPassword" class="far fa-eye-slash bm-gradient-icon"></i>
          <i v-show="showPassword" class="far fa-eye bm-gradient-icon"></i>
        </div>
      </div>
      <div class="signing-options">
        <div @click="toggleRemeberMe" class="signing-options-remember">
          <i class="bm-gradient-icon signing-options-remember-icon far" :class="_rememberMe ? 'fa-check-square' : 'fa-square'"></i><span class="signing-options-remember-text">{{ $t('remember') }}</span>
        </div>
        <div class="signing-options-space"></div>
      </div>
      <div class="signing-switch">
        {{ isLoginPage ? $t('sign-up.sentence') : $t('sign-in.sentence') }} <router-link :to="{ query: { ...this.$route.query }, name: isLoginPage ? 'authRegister': 'authLogin' }">{{ isLoginPage ? $t('sign-up.link') : $t('sign-in.link') }}</router-link>
      </div>
      <span @click="showAlert=false">
        <b-alert show variant="danger" class="signing-alert" :class="{'signing-alert-show':showAlert}">{{ alertSentences[alertIndex] }}</b-alert>
      </span>
      <span class="signing-submit">
        <button v-if="isLoginPage" :disabled="isLoging" type="button" @click="signing" class="signing-button">
          {{ $t('login') }}
        </button>
        <button v-else :disabled="isLoging" type="button" @click="register" class="signing-button">
          {{ $t('register') }}
        </button>
        <div v-show="isLoging" class="bm-loading-bar"></div>
      </span>
    </div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    name: 'Signing',

    props: {
      action: {
        type: String,
        required: true,
      },
    },

    data() {
      return {
        user: {
          name: null,
          email: null,
          password: null,
          password_confirmation: null,
          as: null,
        },
        isLoging: false,
        showPassword: false,
        showAlert: false,
        alertTimer: null,
        alertIndex: 0,
      };
    },

    computed: {
      ...mapGetters({
        _appSize: '_layout/appSize',
        _rememberMe: '_auth/rememberMe',
        _as: '_auth/as', // We get the Client-Side data because we are not logged yet
      }),

      asOptions() {
        return [
          { text: this.$i18n.t('regular'), value: 'regular' },
          { text: this.$i18n.t('owner'), value: 'owner' },
        ];
      },

      alertSentences() {
        return [
          this.$i18n.t('error.unknown'),
          this.$i18n.t('error.email-format'),
          this.$i18n.t('error.password-format'),
          this.$i18n.t('error.username'),
          this.$i18n.t('error.password-match'),
          this.$i18n.t('error.registration'),
        ];
      },

      as: {
        set(data) {
          this._setAs(data);
        },
        get() {
          this.user.as = this._as;
          return this._as;
        },
      },

      isLoginPage() {
        // Check the kind of page to open
        return this.action === 'login';
      },
    },

    methods: {
      ...mapActions({
        _login: '_auth/login',
        _register: '_auth/register',
        _setRememberMe: '_auth/setRememberMe',
        _setAs: '_auth/setAs',
      }),

      toggleRemeberMe() {
        this._setRememberMe(!this._rememberMe);
      },

      signing() {
        if (this.isLoginPage) {
          this.login();
        } else {
          this.register();
        }
      },

      isLoginFormValid() {
        // Check email
        const emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/;
        if (!emailRegex.test(this.user.email)) {
          this.alertIndex = 1; // Invalid E-mail address
          this.showAlert = true;
          return false;
        }

        // Check password
        // Minimum 6 characters
        const passwordRegex = /\S{6,}$/;
        if (!passwordRegex.test(this.user.password)) {
          this.alertIndex = 2; // The password must be at least 6 characters long
          this.showAlert = true;
          return false;
        }

        return true;
      },

      isRegisterFormValid() {
        // Check Name
        if (_.isEmpty(this.user.name)) {
          this.alertIndex = 3; // Invalid Username
          this.showAlert = true;
          return false;
        }

        // Check email
        const emailRegex = /^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,4})+$/;
        if (!emailRegex.test(this.user.email)) {
          this.alertIndex = 1; // Invalid E-mail address
          this.showAlert = true;
          return false;
        }

        // Check password
        // Minimum 6 characters
        const passwordRegex = /\S{6,}$/;
        if (!passwordRegex.test(this.user.password)) {
          this.alertIndex = 2; // The password must be at least 6 characters long
          this.showAlert = true;
          return false;
        }

        return true;
      },

      async login() {
        this.showAlert = false;
        if (this.isLoginFormValid()) {
          this.isLoging = true;
          await this._login(this.user)
            .then(response => {
              if (response.status == 200) {
                if (
                  this.$route
                  && this.$route.query
                  && this.$route.query.redirect
                ) {
                  this.$router.push({ path: this.$route.query.redirect });
                } else {
                  this.$router.push({ name: 'Welcome' });
                }
              } else {
                this.alertIndex = 0; // Incorrect E-mail or Password
                this.showAlert = true;
              }
            })
            .catch(error => {
              // TODO => We may improve error messages by checking the error information received by the server
              this.alertIndex = 0; // Incorrect E-mail or Password
              this.showAlert = true;
            });
          this.isLoging = false;
        }
      },

      async register() {
        this.showAlert = false;
        if (this.isRegisterFormValid()) {
          this.isLoging = true;
          // Because we only use 1 Password field, we just copy/past
          this.user.password_confirmation = this.user.password;
          await this._register(this.user)
            .then(response => {
              if (response.status >= 201) {
                if (
                  this.$route
                  && this.$route.query
                  && this.$route.query.redirect
                ) {
                  this.$router.push({ path: this.$route.query.redirect });
                } else {
                  this.$router.push({ name: 'Welcome' });
                }
              } else {
                this.alertIndex = 5; // The registration failed, please try again.
                this.showAlert = true;
              }
            })
            .catch(error => {
              // TODO => We may improve error messages by checking the error information received by the server
              this.alertIndex = 5; // The registration failed, please try again.
              this.showAlert = true;
            });
          this.isLoging = false;
        }
      },
    },

    watch: {
      showAlert() {
        if (this.showAlert) {
          clearTimeout(this.alertTimer);
          this.alertTimer = setTimeout(() => {
            this.showAlert = false;
          }, 4000);
        }
      },

      user: {
        deep: true,
        handler() {
          clearTimeout(this.alertTimer);
          this.alertTimer = setTimeout(() => {
            this.showAlert = false;
          }, 4000);
        },
      },
    },
  };
</script>

<style lang="scss" scoped>
  .signing {
    margin-top: 50px;
    text-align: center;
  }

  .signing-title {
    font-family: NeutraTextTF-Alt;
    font-size: 28px;
    text-align: center;
    color: #000000;
    @include maxMobileL {
      font-size: 24px;
    }
  }

  .signing-form {
    display: inline-block;
    margin: 60px 0 10px 0;
    padding: 0;
    width: 100%;
    max-width: 400px;
    @include maxMobile {
      margin-top: 30px;
    }
  }

  // Overwrite the form class
  .custom-control {
    min-height: 2.5rem;
  }

  .form-group {
    position: relative;
    align-items: center;
    padding: 8px 0;
    vertical-align: middle;
    margin-bottom: 14px;
    @include maxMobile {
      margin-bottom: 10px;
    }

    input {
      width: 100%;
      white-space: nowrap;
      font-size: inherit;
      background: whitesmoke;
      font-family: inherit;
      padding: 4px 40px 4px 20px;
      border: solid 1px $secondary;
      background-color: #ffffff;
      font-size: 18px;
    }

    input.invalid {
      border: 1px solid tomato;
    }
  }

  .signing-radio {
    white-space: nowrap;
    font-size: inherit;
    border: none;
    padding: 0 0 0 20px;
    font-size: 18px;
    text-align: left;
  }

  .signing-submit {
    position: relative;
    display: inline-block;
    .bm-loading-bar {
      width: 84%;
      left: 8%;
    }
  }

  .signing-button {
    outline: none;
    white-space: nowrap;
    border-radius: 100px;
    border: none;
    background-image: linear-gradient(140deg, #b19875, #6b5537);
    text-align: center;
    color: #ffffff;
    font-size: 16px;
    line-height: 42px;
    cursor: pointer;
    width: 300px;
    @include maxMobile {
      width: 200px;
    }
    &:active {
      background-image: linear-gradient(140deg, #b19875, #b19875);
    }
    &:disabled {
      cursor: default;
      background-image: linear-gradient(140deg, #dadada, #bdbdbd);
    }
  }

  .signing-show-password {
    z-index: 2;
    position: absolute;
    right: 16px;
    top: 13px;
    font-size: 22px;
    cursor: pointer;
    opacity: 0.7;
    &:hover {
      opacity: 0.9;
    }
    &:active {
      opacity: 1;
    }
  }

  .signing-options {
    display: flex;
    margin: 10px 0 30px 0;
    padding: 0;
    width: 100%;
    max-width: 400px;
    @include maxMobile {
      margin-top: 60px;
    }
  }

  .signing-options-remember {
    text-align: left;
    font-size: 16px;
    color: #000000;
    width: max-content;
    white-space: nowrap;
  }

  .signing-options-remember-icon {
    vertical-align: middle;
    font-size: 20px;
    padding-right: 16px;
  }

  .signing-options-remember-text {
    vertical-align: middle;
  }

  .signing-options-space {
    width: 100%;
  }

  .signing-alert {
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    transition-duration: 0.4s;
    transition-property: opacity visibility;
    transition-timing-function: ease;
    margin: 20px 10px;
  }
  .signing-alert-show {
    opacity: 1;
    visibility: visible;
  }
</style>

<i18n>
{
  "en": {
    "welcome": "Welcome to the new generation of Food Delivery system!",
    "regular": "I am a hungry Customer",
    "owner": "I am a restaurant Owner",
    "fullname": "Full Name",
    "email": "E-mail",
    "password": "Password",
    "remember": "Remember me",
    "login": "Login",
    "register": "Register",
    "error": {
      "unknown": "Incorrect E-mail or Password",
      "email-format": "Invalid E-mail address",
      "password-format": "The password must be at least 6 characters long",
      "username": "Invalid Full Name",
      "password-match": "The 2 passwords do not match",
      "registration": "The registration failed, please try again"
    },
    "sign-in": {
      "sentence": "Already have an account?",
      "link": "Sign In"
    },
    "sign-up": {
      "sentence": "Are you new?",
      "link": "Sign Up"
    }
  },
  "fr": {
    "welcome": "Bienvenue dans le système de livraison de plats nouvelle génération!",
    "regular": "Je suis un client affamé",
    "owner": "Je suis propriétaire de restaurant",
    "fullname": "Nom",
    "email": "E-mail",
    "password": "Mot de passe",
    "remember": "Se souvenir de moi",
    "login": "Se connecter",
    "register": "S'inscrire",
    "error": {
      "unknown": "E-mail ou Mot de passe incorrect",
      "email-format": "Adresse e-mail invalide",
      "password-format": "Le mot de passe doit comporter au moins 6 caractères",
      "username": "Nom d'utilisateur invalide",
      "password-match": "Les 2 mots de passe ne correspondent pas",
      "registration": "L'enregistrement a échoué, veuillez réessayer"
    },
    "sign-in": {
      "sentence": "Tu as déjà un compte ?",
      "link": "Se connecter"
    },
    "sign-up": {
      "sentence": "Es-tu nouveau ?",
      "link": "S'inscrire"
    }
  }
}
</i18n>
