<template>
  <div>

    <!-- MEALS -->
    <div class="meals-title">
      <span>{{ $t('meals') }}</span>
      <div class="meals-title-line"></div>
    </div>

    <template v-if="_mealsAll">
      <b-card-group columns>

        <b-card v-for="meal in _mealsAll" :key="'meals_' + meal.id" class="meals-card meals-card-meal" header-class="meals-card-header-image">
          <template #header>
            <upload :data="{id: meal.id, type: 'meals'}">
              <div class="meals-card-image" :style="{ backgroundImage: `url(${_mealsGetPicture(meal.id)})`}">
                <div class="bm-perfect_center"><span class="bm-perfect_center">{{ $t('upload') }}</span></div>
              </div>
            </upload>
          </template>
          <div @click.stop="openModalMeal(meal.id)" class="meals-card-meal-body">
            <b-card-title>
              {{ meal.attributes.name }}
            </b-card-title>
            <b-card-text>
              {{ meal.attributes.description }}
            </b-card-text>
            <b-card-text class="meals-card-meal-badge">
              <b-badge variant="light">${{ parseFloat(meal.attributes.price).toFixed(2) }}</b-badge>
            </b-card-text>
          </div>
        </b-card>

      </b-card-group>
    </template>
    <template v-else>
      <div class="meals-info">
        <b-spinner variant="primary" class="layout-spinner"></b-spinner>
      </div>
    </template>

    <b-modal id="modal-add-meal" @cancel="resetMealModel" @ok="createMeal" :ok-disabled="!isValidMeal()">
      <template #modal-header>
        <h5>{{ $t('meal.edit') }}</h5>
        <b-button v-if="newMeal.id" size="sm" variant="outline-danger" @click.stop="deleteMeal(newMeal.id)">
          {{ $t('delete') }}
        </b-button>
      </template>
      <b-form-input class="mb-3" v-model="newMeal.name" maxlength="100" :placeholder="$t('meal.name')" :state="stateMealName()" required trim></b-form-input>
      <span class="meals-meal-currency-span">
        <b-form-input class="mb-3" v-model="newMeal.price" :placeholder="$t('meal.price')" :state="stateMealPrice()" required trim number></b-form-input>
        <span class="meals-meal-currency">$</span>
      </span>
      <b-form-textarea v-model="newMeal.description" :placeholder="$t('meal.description')" :state="stateMealDescription()" number rows="3" max-rows="6" maxlength="250" no-resize></b-form-textarea>
    </b-modal>

  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  import mxRouter from '@/mixins/router.js';

  export default {
    name: 'Meals',

    mixins: [mxRouter],

    data() {
      return {
        newMeal: {
          id: null, // If setup, it means it is an update
          name: null,
          description: null,
          price: null,
        },
      };
    },

    computed: {
      ...mapGetters({
        _role: '_app/role',
        _mealsAll: 'meals/all',
        _mealsById: 'meals/byId',
        _mealsGetPicture: 'meals/getMealPicture',
        _mealsChecktime: 'meals/checktime',
      }),
    },

    created() {
      this._setBackButton(false);
    },

    methods: {
      ...mapActions({
        _setBackButton: '_layout/setBackButton',
      }),

      // ---------------------- MEALS -------------------------
      openModalMeal(id) {
        if (id) {
          const meal = this._mealsById({ id });
          if (meal) {
            this.newMeal.id = meal.id;
            this.newMeal.name = meal.attributes.name;
            this.newMeal.description = meal.attributes.description;
            this.newMeal.price = meal.attributes.price;
          }
        } else {
          this.newMeal.id = null;
        }
        this.$bvModal.show('modal-add-meal');
      },
      isValidMeal() {
        return (
          this.stateMealName()
          && this.stateMealDescription()
          && this.stateMealPrice()
        );
      },
      resetMealModel() {
        this.newMeal.id = null;
        this.newMeal.name = null;
        this.newMeal.description = null;
        this.newMeal.price = null;
      },
      stateMealName() {
        if (this.newMeal.name == null || this.newMeal.name.length == 0) {
          return null;
        }
        return this.newMeal.name.length <= 100;
      },
      stateMealDescription() {
        if (
          this.newMeal.description == null
          || this.newMeal.description.length == 0
        ) {
          return null;
        }
        return this.newMeal.description.length <= 250;
      },
      stateMealPrice() {
        if (this.newMeal.price == null || this.newMeal.price.length == 0) {
          return null;
        }
        return _.isNumber(this.newMeal.price);
      },
      async createMeal(bvModalEvt) {
        if (!this.isValidMeal()) {
          // Prevent modal from closing
          bvModalEvt.preventDefault();
          return false;
        }
        // Round price
        this.newMeal.price = Math.round(100 * this.newMeal.price) / 100;
        let data;
        if (this.newMeal.id) {
          // Update
          data = {
            id: this.newMeal.id,
            type: 'meals',
            attributes: {
              name: this.newMeal.name,
              description: this.newMeal.description,
              price: this.newMeal.price,
            },
          };
          await this.$store.dispatch('meals/patch', { data }).catch(() => {
            appVue.$bvModal.show('modal-error');
          });
        } else {
          // Create
          data = {
            type: 'meals',
            attributes: {
              name: this.newMeal.name,
              description: this.newMeal.description,
              price: this.newMeal.price,
            },
            relationships: {
              restaurants: {
                data: {
                  type: 'restaurants',
                  id: this.id,
                },
              },
            },
          };
          await this.$store
            .dispatch('meals/create', data)
            .then(() => {
              this.resetMealModel();
              this.$store.dispatch('meals/loadLatest');
            })
            .catch(() => {
              appVue.$bvModal.show('modal-error');
            });
        }
        return true;
      },
      async deleteMeal(id) {
        await this.$store
          .dispatch('meals/delete', { id })
          .then(() => {
            this.resetMealModel();
            this.$store.dispatch('meals/loadLatest');
            this.$bvModal.hide('modal-add-meal');
          })
          .catch(() => {
            appVue.$bvModal.show('modal-error');
          });
        return true;
      },
    },
  };
</script>

<style lang="scss" scoped>
  .card-columns {
    @include maxDesktop {
      column-count: 5;
    }
    @include maxTablet {
      column-count: 3;
    }
    @include maxMobileL {
      column-count: 2;
    }
    @include maxMobile {
      column-count: 1;
    }
  }

  .meals-card-body,
  .meals-card-meal-body {
    position: relative;
    padding: 1.25rem;
    margin: -1.25rem;
  }

  .meals-card-meal-badge {
    font-size: 24px;
    position: absolute;
    right: 6px;
    top: 0px;
  }

  .meals-title {
    color: $primary;
    font-size: 26px;
    text-align: left;
    padding: 16px 2px 20px 2px;
    @include maxMobile {
      font-size: 20px;
      padding: 10px 2px 14px 2px;
    }
  }

  .meals-title-line {
    height: 2px;
    width: 100%;
    background-color: $secondary;
  }

  .card-header {
    padding: 0;
  }

  .meals-card,
  .meals-meal-card {
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 6px 0px $primaryShadow;
    }
  }

  .meals-card-header-image {
    font-size: 0;
  }

  .meals-info {
    text-align: center;
  }

  .meals-card-image {
    position: relative;
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include maxDesktop {
      height: calc(10vw);
    }
    @include maxTablet {
      height: calc(16vw);
    }
    @include maxMobileL {
      height: calc(20vw);
    }
    @include maxMobile {
      height: calc(38vw);
    }
    color: transparent;
    background-color: transparent;
    &:hover > div {
      width: 100%;
      height: 100%;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      background-color: #6b553726;
    }
  }

  .meals-card-meal {
  }

  .meals-meal-currency {
    position: absolute;
    left: 3px;
    top: 8px;
    opacity: 0.7;
    font-size: 14px;
  }

  .meals-meal-currency-span {
    position: relative;
  }
</style>

<i18n>
{
  "en": {
    "meals-title": "My Restaurant",
    "meals": "Meals",
    "upload": "Upload Photo",
    "meal": {
      "no": "None",
      "edit": "Meal Edition",
      "name": "Name",
      "description": "Description",
      "price": "Price"
    }
  },
  "fr": {
    "meals-title": "Mon restaurant",
    "meals": "Plats",
    "upload": "Uploader une image",
    "meal": {
      "no": "Aucun",
      "edit": "Édition de plat",
      "name": "Nom",
      "description": "Description",
      "price": "Prix"
    }
  }
}
</i18n>
