<template>
  <div>

    <back-link v-if="this._role === 'owner'" />

    <!-- RESTAURANT -->
    <div class="restaurant-title">
      <span>{{ $t('restaurant-title') }}</span>
      <div class="restaurant-title-line"></div>
    </div>

    <template v-if="restaurant">
      <b-card class="restaurant-card restaurant-card-title" header-class="restaurant-card-header-image">
        <template #header>
          <upload :data="{id: id, type: 'restaurants'}">
            <div class="restaurant-card-image" :style="{ backgroundImage: `url(${_restaurantsGetPicture(id)})`}">
              <div class="bm-perfect_center"><span class="bm-perfect_center">{{ $t('upload') }}</span></div>
            </div>
          </upload>
        </template>
        <div class="restaurant-card-body" @click.stop="openModalRestaurant">
          <b-card-title>{{ restaurant.attributes.name }}</b-card-title>
          <b-card-text>
            {{ restaurant.attributes.description }}
          </b-card-text>
          <b-card-text class="small text-muted">
            <b-badge variant="info">{{ $tc('orders-count', nbOrders) }}</b-badge>
          </b-card-text>
        </div>
      </b-card>
    </template>
    <template v-else>
      <div class="restaurant-info">
        <b-spinner variant="primary" class="layout-spinner"></b-spinner>
      </div>
    </template>

    <b-modal id="modal-edit-restaurant" @cancel="resetRestaurantModel" @ok="updateRestaurant" :ok-disabled="!isValidRestaurant()">
      <template #modal-header>
        <h5>{{ $t('restaurant.edit') }}</h5>
        <b-button size="sm" variant="outline-danger" @click.stop="deleteRestaurant">
          {{ $t('delete') }}
        </b-button>
      </template>
      <b-form-input class="mb-3" v-model="newRestaurant.name" maxlength="100" :placeholder="$t('restaurant.name')" :state="stateRestaurantName()" required trim></b-form-input>
      <b-form-textarea v-model="newRestaurant.description" :placeholder="$t('restaurant.description')" :state="stateRestaurantDescription()" number rows="3" max-rows="6" maxlength="250" no-resize></b-form-textarea>
    </b-modal>

    <!-- ORDERS -->
    <div class="restaurant-title">
      <span>{{ $t('orders') }}</span>
      <div class="restaurant-title-line"></div>
    </div>

    <template v-if="orders">
      <b-card-group deck>
        <b-card v-for="order in orders" :key="'orders_' + order.id" class="restaurant-card restaurant-orders-card" @click.stop="openModalOrder(order)">
          <template #header>
            <div class="restaurant-orders-header">
              <span class="restaurant-orders-id">{{ $t('order-number', {id: order.id}) }}</span>
              <span class="restaurant-orders-price"><span class="restaurant-orders-currency">$</span>{{ totalCost(order.id) }}</span>
            </div>
          </template>
          <div>
            <span>
              <span class="restaurant-orders-date">{{ $d(order.attributes.created_at * 1000, 'medium') }}</span><br />
              <span>{{ getStatus(order.attributes.status) }}</span>
            </span>
            <b-button v-if="isReceivable(order.attributes.status)" class="restaurant-orders-next" variant="success" @click.stop="nextStatus(order.id, 5)">{{ $t('status.next.4') }}</b-button>
            <b-button v-if="isNextable(order.attributes.status)" class="restaurant-orders-next" variant="outline-secondary" @click.stop="nextStatus(order.id, parseInt(order.attributes.status, 10) + 1)">{{ getNext(order.attributes.status) }}</b-button>
            <b-button v-if="isCancelable(order.attributes.status)" class="restaurant-orders-next" variant="danger" @click.stop="nextStatus(order.id, 6)">{{ $t('status.cancel') }}</b-button>
          </div>
        </b-card>
      </b-card-group>
    </template>
    <template v-else-if="orders == null">
      <div class="restaurant-info">
        <div class="orders-no">{{ $t('order.no') }}</div>
      </div>
    </template>
    <template v-else>
      <div class="restaurant-info">
        <b-spinner variant="primary" class="layout-spinner"></b-spinner>
      </div>
    </template>

    <b-modal id="modal-show-order" scrollable @hidden="resetOrderModel" ok-only>
      <template #modal-header>
        <h5>{{ $t('order-number', {id: orderModel.id}) }}</h5>
      </template>

      <div><b>{{ orderModel.restaurantName }}</b></div>
      <div>{{ $t('order-model.on', {on: $d(orderModel.on * 1000, 'medium')}) }}</div>
      <div>{{ $t('order-model.status', {status: getStatus(orderModel.status) }) }}</div>
      <div>{{ $t('order-model.by', {by: orderModel.byName }) }} <span v-if="orderModel.blocked">({{ $t('customers-blocked') }})</span></div>
      <b-link class="restaurant-modal-order-link" @click.stop="BlockUnblockUser(orderModel.byId, !orderModel.blocked)">{{ $tc('order-model.block', orderModel.blocked) }}</b-link><span v-if="orderModel.blocked"></span>
      <div class="restaurant-modal-order-line"></div>
      <b-table striped :items="orderModel.list" :fields="orderTableFields"></b-table>
      <div class="restaurant-modal-order-total">{{ $t('order-model.total') }}: ${{ orderModel.total }}</div>
      <div class="restaurant-modal-order-line"></div>
      <b-table striped :items="orderModel.history" :fields="historyTableFields"></b-table>
    </b-modal>

    <!-- USERS -->
    <template v-if="customersBlocked">
      <div class="restaurant-title">
        <span>{{ $t('customers-blocked') }}</span>
        <div class="restaurant-title-line"></div>
      </div>

      <table class="customer-table">
        <tr v-for="user in customersBlocked" :key="'blocked_' + user.id">
          <td>
            <span class="customer-name">{{ user.attributes.name }}</span>
          </td>
          <td>
            <b-button class="customer-button" @click.stop="BlockUnblockUser(user.id, 0)">{{ $t('unblock') }}</b-button>
          </td>
        </tr>
      </table>

    </template>

    <!-- MEALS -->
    <div class="restaurant-title">
      <span>{{ $t('meals') }}</span>
      <div class="restaurant-title-line"></div>
    </div>

    <template v-if="meals!=false">
      <b-card-group columns>
        <b-card bg-variant="light" text-variant="primary" class="text-center restaurant-meal-card restaurant-meal-add" @click.stop="openModalMeal">
          <b-card-text class="bm-perfect_center">
            {{ $t('meal.add') }}
          </b-card-text>
        </b-card>

        <b-card v-for="meal in meals" :key="'meals_' + meal.id" class="restaurant-card restaurant-card-meal" header-class="restaurant-card-header-image">
          <template #header>
            <upload :data="{id: meal.id, type: 'meals'}">
              <div class="restaurant-card-image" :style="{ backgroundImage: `url(${_mealsGetPicture(meal.id)})`}">
                <div class="bm-perfect_center"><span class="bm-perfect_center">{{ $t('upload') }}</span></div>
              </div>
            </upload>
          </template>
          <div @click.stop="openModalMeal(meal.id)" class="restaurant-card-meal-body">
            <b-card-title>
              {{ meal.attributes.name }}
            </b-card-title>
            <b-card-text>
              {{ meal.attributes.description }}
            </b-card-text>
            <b-card-text class="restaurant-card-meal-badge">
              <b-badge variant="light">${{ parseFloat(meal.attributes.price).toFixed(2) }}</b-badge>
            </b-card-text>
          </div>
        </b-card>

      </b-card-group>
    </template>
    <template v-else>
      <div class="restaurant-info">
        <b-spinner variant="primary" class="layout-spinner"></b-spinner>
      </div>
    </template>

    <b-modal id="modal-add-meal" @cancel="resetMealModel" @ok="createMeal" :ok-disabled="!isValidMeal()">
      <template #modal-header>
        <h5 v-if="newMeal.id">{{ $t('meal.edit') }}</h5>
        <h5 v-else>{{ $t('meal.add') }}</h5>
        <b-button v-if="newMeal.id" size="sm" variant="outline-danger" @click.stop="deleteMeal(newMeal.id)">
          {{ $t('delete') }}
        </b-button>
      </template>
      <b-form-input class="mb-3" v-model="newMeal.name" maxlength="100" :placeholder="$t('meal.name')" :state="stateMealName()" required trim></b-form-input>
      <span class="restaurant-meal-currency-span">
        <b-form-input class="mb-3" v-model="newMeal.price" :placeholder="$t('meal.price')" :state="stateMealPrice()" required trim number></b-form-input>
        <span class="restaurant-meal-currency">$</span>
      </span>
      <b-form-textarea v-model="newMeal.description" :placeholder="$t('meal.description')" :state="stateMealDescription()" number rows="3" max-rows="6" maxlength="250" no-resize></b-form-textarea>
    </b-modal>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import BackLink from '@/components/global/BackLink.vue';

  import mxRouter from '@/mixins/router.js';
  import mxJsonata from '@/mixins/jsonata.js';

  export default {
    name: 'Restaurant',

    components: {
      BackLink,
    },

    mixins: [mxRouter, mxJsonata],

    props: {
      id: {
        required: true,
      },
    },

    data() {
      return {
        customersBlocked: false,
        orders: false,
        meals: false,
        newRestaurant: {
          name: null,
          description: null,
        },
        newMeal: {
          id: null, // If setup, it means it is an update
          name: null,
          description: null,
          price: null,
        },
        orderModel: {
          order: null,
          id: null,
          on: null,
          byId: null,
          byName: null,
          restaurantName: null,
          blocked: null,
          status: null,
          list: null,
        },
      };
    },

    computed: {
      ...mapGetters({
        _appSize: '_layout/appSize',
        _role: '_app/role',
        _restaurantsById: 'restaurants/byId',
        _ordersById: 'orders/byId',
        _mealsById: 'meals/byId',
        _usersById: 'users/byId',
        _restaurantsGetPicture: 'restaurants/getRestaurantPicture',
        _mealsGetPicture: 'meals/getMealPicture',
        // Track any update without deep watching
        _restaurantsChecktime: 'restaurants/checktime',
        _ordersChecktime: 'orders/checktime',
        _mealsChecktime: 'meals/checktime',
      }),

      orderTableFields() {
        this._appSize; // Resize trigger
        let mobile = '';
        if (this.$responsiveTest('maxMobileL')) {
          mobile = '-mobile';
        }
        return [
          { id: '#' },
          { name: this.$i18n.t(`order-table-fields${mobile}.name`) },
          { quantity: this.$i18n.t(`order-table-fields${mobile}.quantity`) },
          {
            key: 'unit_price',
            label: this.$i18n.t(`order-table-fields${mobile}.unit_price`),
            formatter: value => parseFloat(value).toFixed(2),
          },
          {
            key: 'subtotal',
            label: this.$i18n.t(`order-table-fields${mobile}.subtotal`),
            formatter: value => parseFloat(value).toFixed(2),
          },
        ];
      },
      historyTableFields() {
        return [
          { date: this.$i18n.t('history.date') },
          { status: this.$i18n.t('history.status') },
        ];
      },

      restaurant() {
        this._restaurantsChecktime;
        return this._restaurantsById({ id: this.id });
      },

      nbOrders() {
        if (_.isArray(this.orders)) {
          return this.orders.length;
        }
        return null;
      },
    },

    methods: {
      async BlockUnblockUser(userId, blocked) {
        let restaurant = this.$store.getters['restaurants/byId']({
          id: this.id,
        });
        // [NOTE: Bad practice] This line disable warning on direct state changes
        const currentCommitting = appVue.$store._committing;
        appVue.$store._committing = true;
        // Construct the architecture if if does not exists
        if (restaurant.relationships == undefined) {
          restaurant.relationships = {};
        }
        if (restaurant.relationships.blocked_users == undefined) {
          restaurant.relationships.blocked_users = {};
        }
        if (restaurant.relationships.blocked_users.data == undefined) {
          restaurant.relationships.blocked_users.data = [
            {
              type: 'users',
              id: userId,
              meta: {
                blocked: !!blocked,
              },
            },
          ];
        } else {
          for (let i in restaurant.relationships.blocked_users.data) {
            if (restaurant.relationships.blocked_users.data[i].id == userId) {
              if (
                restaurant.relationships.blocked_users.data[i].meta == undefined
              ) {
                restaurant.relationships.blocked_users.data[i].meta = [];
              }
              restaurant.relationships.blocked_users.data[
                i
              ].meta.blocked = !!blocked;
            }
          }
        }
        //  Rollback the value
        appVue.$store._committing = currentCommitting;
        await this.$store.dispatch('restaurants/update', restaurant);
        await this.updateCustomersBlocked();
        await this.buildOrderModel();
      },
      // ---------------------- ORDERS -------------------------
      async openModalOrder(order) {
        this.orderModel.id = order.id;
        await this.buildOrderModel();
        this.$bvModal.show('modal-show-order');
      },
      async buildOrderModel() {
        // Help to rebuild in case of data change
        let order = this.$store.getters['orders/byId']({
          id: this.orderModel.id,
        });
        if (order) {
          this.orderModel.order = order;
          this.orderModel.on = order.attributes.created_at;
          this.orderModel.byId = order.attributes.created_by;
          this.orderModel.status = order.attributes.status;
          this.orderModel.blocked = jsonata(
            `$exists(items[$number(id) = $number(${this.orderModel.byId})])`,
          ).evaluate({ items: this.customersBlocked });
          this.orderModel.list = this.buildOrderList();
          this.orderModel.total = 0;
          for (let i in this.orderModel.list) {
            this.orderModel.total += this.orderModel.list[i].subtotal;
          }
          await appVue.$store.dispatch('users/loadById', {
            id: order.attributes.created_by,
          });
          let user = await this._usersById({ id: order.attributes.created_by });
          if (user) {
            this.orderModel.byName = user.attributes.name;
          }
          // Restaurant name
          let restaurant = await this._restaurantsById({ id: this.id });
          if (restaurant) {
            this.orderModel.restaurantName = restaurant.attributes.name;
          }
          this.buildOrderHistory();
        }
      },
      resetOrderModel() {
        this.orderModel.order = null;
        this.orderModel.id = null;
        this.orderModel.on = null;
        this.orderModel.byId = null;
        this.orderModel.byName = null;
        this.orderModel.restaurantName = null;
        this.orderModel.blocked = null;
        this.orderModel.status = null;
        this.orderModel.list = null;
        this.orderModel.total = null;
        this.orderModel.history = null;
      },
      buildOrderList() {
        let listMeals = jsonata(
          '[items.relationships.meals.data.[id, meta.quantity, meta.price, ($number(meta.quantity) * $number(meta.price))]]',
        ).evaluate({ items: this.orderModel.order });
        if (!_.isArray(listMeals[0])) {
          listMeals = [listMeals];
        }
        for (let i in listMeals) {
          listMeals[i][4] = null;
          let meal = this.$store.getters['meals/byId']({
            id: listMeals[i][0],
          });
          if (meal) {
            listMeals[i][4] = meal.attributes.name;
          }
        }
        // Build object
        let list = [];
        for (let i = 0; i < listMeals.length; i++) {
          list.push({
            id: listMeals[i][0],
            name: listMeals[i][4],
            quantity: listMeals[i][1],
            unit_price: listMeals[i][2],
            subtotal: listMeals[i][3],
          });
        }
        return list;
      },

      buildOrderHistory() {
        this.orderModel.history = [];
        // Add creation
        this.orderModel.history.push({
          date: this.$i18n.d(this.orderModel.on * 1000, 'medium'),
          status: this.getStatus(1),
        });
        // Add other dates
        for (let i in this.orderModel.order.attributes.status_history) {
          this.orderModel.history.push({
            date: this.$i18n.d(
              this.orderModel.order.attributes.status_history[i][0] * 1000,
              'medium',
            ),
            status: this.getStatus(
              this.orderModel.order.attributes.status_history[i][1],
            ),
          });
        }
      },

      // ---------------------- MEALS -------------------------
      openModalMeal(id) {
        if (id) {
          const meal = this._mealsById({ id });
          if (meal) {
            this.newMeal.id = meal.id;
            this.newMeal.name = meal.attributes.name;
            this.newMeal.description = meal.attributes.description;
            this.newMeal.price = meal.attributes.price;
          }
        } else {
          this.newMeal.id = null;
        }
        this.$bvModal.show('modal-add-meal');
      },
      isValidMeal() {
        return (
          this.stateMealName()
          && this.stateMealDescription()
          && this.stateMealPrice()
        );
      },
      resetMealModel() {
        this.newMeal.id = null;
        this.newMeal.name = null;
        this.newMeal.description = null;
        this.newMeal.price = null;
      },
      stateMealName() {
        if (this.newMeal.name == null || this.newMeal.name.length == 0) {
          return null;
        }
        return this.newMeal.name.length <= 100;
      },
      stateMealDescription() {
        if (
          this.newMeal.description == null
          || this.newMeal.description.length == 0
        ) {
          return null;
        }
        return this.newMeal.description.length <= 250;
      },
      stateMealPrice() {
        if (this.newMeal.price == null || this.newMeal.price.length == 0) {
          return null;
        }
        return _.isNumber(this.newMeal.price);
      },
      async createMeal(bvModalEvt) {
        if (!this.isValidMeal()) {
          // Prevent modal from closing
          bvModalEvt.preventDefault();
          return false;
        }
        // Round price
        this.newMeal.price = Math.round(100 * this.newMeal.price) / 100;
        let data;
        if (this.newMeal.id) {
          // Update
          data = {
            id: this.newMeal.id,
            type: 'meals',
            attributes: {
              name: this.newMeal.name,
              description: this.newMeal.description,
              price: this.newMeal.price,
            },
          };
          await this.$store.dispatch('meals/patch', { data }).catch(() => {
            appVue.$bvModal.show('modal-error');
          });
        } else {
          // Create
          data = {
            type: 'meals',
            attributes: {
              name: this.newMeal.name,
              description: this.newMeal.description,
              price: this.newMeal.price,
            },
            relationships: {
              restaurants: {
                data: {
                  type: 'restaurants',
                  id: this.id,
                },
              },
            },
          };
          await this.$store
            .dispatch('meals/create', data)
            .then(() => {
              this.resetMealModel();
              this.$store.dispatch('meals/loadLatest');
            })
            .catch(() => {
              appVue.$bvModal.show('modal-error');
            });
        }
        return true;
      },
      async deleteMeal(id) {
        await this.$store
          .dispatch('meals/delete', { id })
          .then(() => {
            this.resetMealModel();
            this.$store.dispatch('meals/loadLatest');
            this.$bvModal.hide('modal-add-meal');
          })
          .catch(() => {
            appVue.$bvModal.show('modal-error');
          });
        return true;
      },

      // ---------------------- RESTAURANTS -------------------------
      openModalRestaurant() {
        this.newRestaurant.name = this.restaurant.attributes.name;
        this.newRestaurant.description = this.restaurant.attributes.description;
        this.$bvModal.show('modal-edit-restaurant');
      },
      isValidRestaurant() {
        return this.stateRestaurantName() && this.stateRestaurantDescription();
      },
      resetRestaurantModel() {
        this.newRestaurant.name = null;
        this.newRestaurant.description = null;
      },
      stateRestaurantName() {
        if (
          this.newRestaurant.name == null
          || this.newRestaurant.name.length == 0
        ) {
          return null;
        }
        return this.newRestaurant.name.length <= 100;
      },
      stateRestaurantDescription() {
        if (
          this.newRestaurant.description == null
          || this.newRestaurant.description.length == 0
        ) {
          return null;
        }
        return this.newRestaurant.description.length <= 250;
      },
      async updateRestaurant(bvModalEvt) {
        if (!this.isValidRestaurant()) {
          // Prevent modal from closing
          bvModalEvt.preventDefault();
          return false;
        }
        let data = {
          id: this.id,
          type: 'restaurants',
          attributes: {
            name: this.newRestaurant.name,
            description: this.newRestaurant.description,
          },
        };
        await this.$store.dispatch('restaurants/patch', { data }).catch(() => {
          appVue.$bvModal.show('modal-error');
        });
        return true;
      },
      async deleteRestaurant() {
        await this.$store
          .dispatch('restaurants/delete', { id: this.id })
          .then(() => {
            this.resetMealModel();
            this.$store.dispatch('restaurants/loadLatest');
            this.$bvModal.hide('modal-edit-restaurant');
            this.$router.push({ name: 'Restaurants' });
          })
          .catch(() => {
            appVue.$bvModal.show('modal-error');
          });
        return true;
      },

      totalCost(id) {
        let order = [this._ordersById({ id })];
        const sum = jsonata(
          '$sum(items.relationships.meals.data.meta.($number(price) * $number(quantity)))',
        ).evaluate({ items: order });
        if (sum <= 0) {
          return '0';
        }
        return sum;
      },

      getStatus(status) {
        status = parseInt(status, 10);
        return this.$i18n.t(`status.info.${status}`);
      },

      getNext(status) {
        status = parseInt(status, 10);
        return this.$i18n.t(`status.next.${status}`);
      },

      isReceivable(status) {
        return false;
      },

      isNextable(status) {
        // For Owner
        status = parseInt(status, 10);
        return status <= 3;
      },

      isCancelable(status) {
        // For Owner
        return false;
      },

      async nextStatus(id, status) {
        status = parseInt(status, 10);
        const data = {
          type: 'orders',
          id,
          attributes: { status },
        };
        await this.$store.dispatch('orders/patch', { data }).catch(() => {
          appVue.$bvModal.show('modal-error');
        });
      },

      async updateCustomersBlocked() {
        // Get the list of customers blocked
        const parent = {
          type: 'restaurants',
          id: this.id,
        };
        const relationship = 'blocked_users';
        const users = await this.$store
          .dispatch('restaurants/loadRelated', { parent, relationship })
          .then(() => {
            const items = this.$store.getters['restaurants/related']({
              parent,
              relationship,
            });
            return items;
          });
        if (_.isArray(users) && users.length) {
          this.customersBlocked = users;
        } else {
          this.customersBlocked = null;
        }
      },
    },

    watch: {
      _restaurantsChecktime: {
        async handler() {
          await this.updateCustomersBlocked();
          // Rebuild any opened Order list
          await this.buildOrderModel();
        },
        immediate: true,
      },

      _ordersChecktime: {
        async handler() {
          // Get the list of orders in process
          const items = this.mxJsonata_belongsTo('orders', {
            restaurants: this.id,
          });
          const orders = jsonata(
            '[items[$number(attributes.status) in [1..4]]]',
          ).evaluate({ items });
          if (_.isArray(orders) && orders.length) {
            this.orders = orders;
          } else {
            this.orders = null;
          }
        },
        immediate: true,
      },

      _mealsChecktime: {
        async handler() {
          // Get the list of meals
          const meals = this.mxJsonata_belongsTo('meals', {
            restaurants: this.id,
          });
          if (_.isArray(meals) && meals.length) {
            this.meals = meals;
          } else {
            this.meals = null;
          }
        },
        immediate: true,
      },
    },
  };
</script>

<style>
</style>

<style lang="scss" scoped>
  .card-columns {
    @include maxDesktop {
      column-count: 5;
    }
    @include maxTablet {
      column-count: 3;
    }
    @include maxMobileL {
      column-count: 2;
    }
    @include maxMobile {
      column-count: 1;
    }
  }

  .restaurant-modal-order-link {
    font-size: 12px;
  }

  .restaurant-modal-order-line {
    margin: 20px 0;
    margin-left: 4%;
    width: 92%;
    height: 3px;
    opacity: 0.5;
    background-color: $secondary;
  }

  .restaurant-modal-order-total {
    font-weight: bold;
    text-align: right;
  }

  .restaurant-meal-add {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    @include maxDesktop {
      padding: calc(7vw) 0;
    }
    @include maxTablet {
      padding: calc(9vw) 0;
    }
    @include maxMobileL {
      padding: calc(11vw) 0;
    }
    @include maxMobile {
      padding: calc(7vw) 0;
    }
    &.disabled {
      opacity: 0.5 !important;
      cursor: default !important;
      box-shadow: none;
    }
  }

  .restaurant-card-title {
    max-width: 800px;
  }

  .restaurant-card-body,
  .restaurant-card-meal-body {
    position: relative;
    padding: 1.25rem;
    margin: -1.25rem;
  }

  .restaurant-card-meal-badge {
    font-size: 24px;
    position: absolute;
    right: 6px;
    top: 0px;
  }

  .restaurant-title {
    color: $primary;
    font-size: 26px;
    text-align: left;
    padding: 16px 2px 20px 2px;
    @include maxMobile {
      font-size: 20px;
      padding: 10px 2px 14px 2px;
    }
  }

  .restaurant-title-line {
    height: 2px;
    width: 100%;
    background-color: $secondary;
  }

  .card-header {
    padding: 0;
  }

  .restaurant-card,
  .restaurant-meal-card {
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 6px 0px $primaryShadow;
    }
  }

  .restaurant-card-header-image {
    font-size: 0;
  }

  .restaurants-meal-add {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    @include maxDesktop {
      padding: calc(7vw) 0;
    }
    @include maxTablet {
      padding: calc(9vw) 0;
    }
    @include maxMobileL {
      padding: calc(11vw) 0;
    }
    @include maxMobile {
      padding: calc(7vw) 0;
    }
  }

  .restaurant-info {
    text-align: center;
  }

  .restaurant-card-image {
    position: relative;
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include maxDesktop {
      height: calc(10vw);
    }
    @include maxTablet {
      height: calc(16vw);
    }
    @include maxMobileL {
      height: calc(20vw);
    }
    @include maxMobile {
      height: calc(38vw);
    }
    color: transparent;
    background-color: transparent;
    &:hover > div {
      width: 100%;
      height: 100%;
      color: #ffffff;
      font-size: 16px;
      font-weight: bold;
      background-color: #6b553726;
    }
  }

  .restaurant-card-meal {
  }

  .customer-table {
    margin-left: 20px;
    & tr {
      white-space: nowrap;
    }
    & td {
      vertical-align: middle;
      padding: 6px 16px;
    }
  }

  .orders-no {
    padding: 20px;
    color: #909090;
    font-size: 24px;
    font-style: italic;
  }

  .restaurant-orders-card {
    margin: 14px;
    min-width: fit-content;
    max-width: 500px;
  }

  .restaurant-orders-header {
    margin: 4px 10px;
  }

  .restaurant-orders-id {
    font-style: italic;
  }

  .restaurant-orders-price {
    float: right;
    margin-left: 20px;
  }

  .restaurant-orders-currency {
    opacity: 0.9;
  }

  .restaurant-orders-next {
    float: right;
    bottom: 0;
    margin-left: 12px;
  }

  .restaurant-orders-date {
    opacity: 0.7;
    font-size: 14px;
  }

  .restaurant-meal-currency {
    position: absolute;
    left: 3px;
    top: 8px;
    opacity: 0.7;
    font-size: 14px;
  }

  .restaurant-meal-currency-span {
    position: relative;
  }
</style>

<i18n>
{
  "en": {
    "orders-count": " | 1 Order in process | {count} Orders in process",
    "restaurant-title": "My Restaurant",
    "customers-blocked": "customers blocked",
    "orders": "Orders in process",
    "meals": "Meals",
    "unblock": "Unblock",
    "order-number": "Order #{id}",
    "upload": "Upload Photo",
    "status": {
      "info": {
        "1": "Placed",
        "2": "Processing",
        "3": "In Route",
        "4": "Delivered",
        "5": "Received",
        "6": "Canceled"
      },
      "next": {
        "1": "Process It",
        "2": "Ready to go",
        "3": "Delivered",
        "4": "Received"
      },
      "cancel": "Cancel"
    },
    "order": {
      "no": "None"
    },
    "meal": {
      "no": "None",
      "add": "Add a Meal",
      "edit": "Meal Edition",
      "name": "Name",
      "description": "Description",
      "price": "Price"
    },
    "restaurant": {
      "edit": "Restaurant Edition",
      "name": "Name",
      "description": "Description"
    },
    "order-model": {
      "on": "Order placed on {on}",
      "by": "By {by}",
      "block": "Block the customer | Unblock the costumer | Unblock the customer",
      "status": "Current status: {status}",
      "total": "Total"
    },
    "order-table-fields": {
      "name": "Name",
      "quantity": "Quantity",
      "unit_price": "Unit Price",
      "subtotal": "Subtotal"
    },
    "order-table-fields-mobile": {
      "name": "Name",
      "quantity": "Qty",
      "unit_price": "U.P.",
      "subtotal": "S.T."
    },
    "history": {
      "date": "Date",
      "status": "Status"
    }
  },
  "fr": {
    "orders-count": " | 1 commande en cours | {count} commandes en cours",
    "restaurant-title": "Mon restaurant",
    "customers-blocked": "clients bloqués",
    "orders": "Commandes en cours",
    "meals": "Plats",
    "unblock": "Débloquer",
    "order-number": "Commande #{id}",
    "upload": "Uploader une image",
    "status": {
      "info": {
        "1": "Commandé",
        "2": "En cours",
        "3": "En route",
        "4": "Livré",
        "5": "Reçu",
        "6": "Annulé"
      },
      "next": {
        "1": "Traiter",
        "2": "Prêt à partir",
        "3": "Livré",
        "4": "Reçu"
      },
      "cancel": "Annuler"
    },
    "order": {
      "no": "Aucune"
    },
    "meal": {
      "no": "Aucun",
      "add": "Ajouter un plat",
      "edit": "Édition de plat",
      "name": "Nom",
      "description": "Description",
      "price": "Prix"
    },
    "restaurant": {
      "edit": "Édition de restaurant",
      "name": "Nom",
      "description": "Description"
    },
    "order-model": {
      "on": "Commande passée le {on}",
      "by": "Par {by}",
      "block": "Bloquer le client | Débloquer le client | Débloquer le client",
      "status": "Etape actuelle: {status}",
      "total": "Total"
    },
    "order-table-fields": {
      "name": "Nom",
      "quantity": "Quantité",
      "unit_price": "Prix unitaire",
      "subtotal": "Sous-total"
    },
    "order-table-fields-mobile": {
      "name": "Nom",
      "quantity": "Qté",
      "unit_price": "P.U.",
      "subtotal": "S.T."
    },
    "history": {
      "date": "Date",
      "status": "Status"
    }
  }
}
</i18n>
