// Screen breakpoints
$bpMobile: 576px;
$bpTablet: 960px;
$bpDesktop: 1280px;

// EXACT
@mixin isMobile {
    // @media only screen and (max-width: 575px) {
    @media only screen and (max-width: $bpMobile - 1) {
        @content;
    }
}
@mixin isMobileL {
    // @media only screen and (min-width: 576px) and (max-width: 959px) {
    @media only screen and (min-width: $bpMobile) and (max-width: $bpTablet - 1) {
        @content;
    }
}
@mixin isTablet {
    // @media only screen and (min-width: 960px) and (max-width: 1279px) {
    @media only screen and (min-width: $bpTablet) and (max-width: $bpDesktop - 1) {
        @content;
    }
}
@mixin isDesktop {
    // @media only screen and (min-width: 1280px) {
    @media only screen and (min-width: $bpDesktop) {
        @content;
    }
}

// EXCLUDE
@mixin noMobile {
    // @media only screen and (min-width: 576px) {
    @media only screen and (min-width: $bpMobile) {
        @content;
    }
}
@mixin noMobileL {
    // @media only screen and (min-width: 960px), only screen and (max-width: 575px) {
    @media only screen and (min-width: $bpTablet), only screen and (max-width: $bpMobile -1) {
        @content;
    }
}
@mixin noTablet {
    // @media only screen and (min-width: 1280px), only screen and (max-width: 959px) {
    @media only screen and (min-width: $bpDesktop), only screen and (max-width: $bpTablet - 1) {
        @content;
    }
}
@mixin noDesktop {
    // @media only screen and (max-width: 1279px) {
    @media only screen and (max-width: $bpDesktop - 1) {
        @content;
    }
}

// MINIMUM
@mixin minMobile {
    // No constraint
    @content;
}
@mixin minMobileL {
    // @media only screen and (min-width: 576px) {
    @media only screen and (min-width: $bpMobile) {
        @content;
    }
}
@mixin minTablet {
    // @media only screen and (min-width: 960px) {
    @media only screen and (min-width: $bpTablet) {
        @content;
    }
}
@mixin minDesktop {
    // @media only screen and (min-width: 1280px) {
    @media only screen and (min-width: $bpDesktop) {
        @content;
    }
}

// MAXIMUM
@mixin maxMobile {
    // @media only screen and (max-width: 575px) {
    @media only screen and (max-width: $bpMobile - 1) {
        @content;
    }
}
@mixin maxMobileL {
    // @media only screen and (max-width: 959px) {
    @media only screen and (max-width: $bpTablet - 1) {
        @content;
    }
}
@mixin maxTablet {
    // @media only screen and (max-width: 1279px) {
    @media only screen and (max-width: $bpDesktop - 1) {
        @content;
    }
}
@mixin maxDesktop {
    // No constraint
    @content;
}

.isMobile {
    @include noMobile {
        display: none !important;
    }
}
.isMobileL {
    @include noMobileL {
        display: none !important;
    }
}
.isTablet {
    @include noTablet {
        display: none !important;
    }
}
.isDesktop {
    @include noDesktop {
        display: none !important;
    }
}

.noMobile {
    @include isMobile {
        display: none !important;
    }
}
.noMobileL {
    @include isMobileL {
        display: none !important;
    }
}
.noTablet {
    @include isTablet {
        display: none !important;
    }
}
.noDesktop {
    @include isDesktop {
        display: none !important;
    }
}

.minMobile {
    // No constraint
}
.minMobileL {
    @include maxMobile {
        display: none !important;
    }
}
.minTablet {
    @include maxMobileL {
        display: none !important;
    }
}
.minDesktop {
    @include maxTablet {
        display: none !important;
    }
}

.maxMobile {
    @include minMobileL {
        display: none !important;
    }
}
.maxMobileL {
    @include minTablet {
        display: none !important;
    }
}
.maxTablet {
    @include minDesktop {
        display: none !important;
    }
}
.maxDesktop {
    // No constraint
}
