<template>
  <div>

    <b-modal id="modal-order-success" :title="$t('create-title')" no-stacking ok-only body-text-variant="success" @hidden="redirectRestaurants">
      <p class="my-4">{{ $t('create-sentence') }}</p>
    </b-modal>

    <!-- RESTAURANT -->
    <div class="order-title">
      <span>{{ $t('order-title') }}</span>
      <div class="order-title-line"></div>
    </div>

    <template v-if="restaurant">
      <b-card overlay class="restaurant-card restaurant-card-title" header-class="restaurant-card-header-image">
        <template #header>
          <div class="restaurant-card-image" :style="{ backgroundImage: `url(${_restaurantsGetPicture(id)})`}"></div>
        </template>
        <div class="restaurant-card-body">
          <b-card-title>{{ restaurant.attributes.name }}</b-card-title>
          <b-card-text>
            {{ restaurant.attributes.description }}
          </b-card-text>
        </div>
      </b-card>
    </template>
    <template v-else>
      <div class="restaurant-info">
        <b-spinner variant="primary" class="layout-spinner"></b-spinner>
      </div>
    </template>

    <!-- ORDERS -->

    <div class="restaurant-table">
      <b-table striped :items="orderList" :fields="orderTableFields"></b-table>
      <div class="restaurant-total">{{ $t('total') }}: ${{ orderTotal }}</div>

      <b-button v-show="orderTotal > 0" :disabled="placed || orderTotal <= 0" class="order-pass" variant="success" @click.stop="placeOrder()">{{ $t('place-order') }}</b-button>
    </div>

    <!-- MEALS -->
    <div class="order-title">
      <span>{{ $t('meals') }}</span>
      <div class="order-title-line"></div>
    </div>

    <template v-if="meals!=false">
      <b-card-group columns>

        <b-card v-for="meal in meals" :key="'meals_' + meal.id" class="restaurant-card restaurant-card-meal" header-class="restaurant-card-header-image">
          <template #header>
            <div class="restaurant-card-image" :style="{ backgroundImage: `url(${_mealsGetPicture(meal.id)})`}"></div>
          </template>
          <div class="restaurant-card-meal-body">
            <b-card-title>
              {{ meal.attributes.name }}
            </b-card-title>
            <b-card-text>
              {{ meal.attributes.description }}
            </b-card-text>
            <b-card-text class="restaurant-card-meal-badge">
              <b-badge variant="light">${{ parseFloat(meal.attributes.price).toFixed(2) }}</b-badge>
            </b-card-text>
            <b-card-text class="restaurant-card-meal-quantity">
              <b-button squared variant="outline-primary" :disabled="getQuantity(meal.id)<=0" size="sm" @click.stop="updateList(meal.id, -1)"><i class="fas fa-minus"></i></b-button>
              <b-button squared variant="primary" disabled size="sm">{{ getQuantity(meal.id) }}</b-button>
              <b-button squared variant="outline-primary" size="sm" @click.stop="updateList(meal.id, 1)"><i class="fas fa-plus"></i></b-button>
            </b-card-text>
          </div>
        </b-card>

      </b-card-group>
    </template>
    <template v-else-if="meals == null">
      <div class="restaurant-info">
        <div class="orders-no">{{ $t('no-meal') }}</div>
      </div>
    </template>
    <template v-else>
      <div class="restaurant-info">
        <b-spinner variant="primary" class="layout-spinner"></b-spinner>
      </div>
    </template>

  </div>
</template>

<script>
  import { mapGetters } from 'vuex';

  import BackLink from '@/components/global/BackLink.vue';

  import mxRouter from '@/mixins/router.js';
  import mxJsonata from '@/mixins/jsonata.js';

  export default {
    name: 'Restaurant',

    components: {
      BackLink,
    },

    mixins: [mxRouter, mxJsonata],

    props: {
      id: {
        required: true,
      },
    },

    data() {
      return {
        placed: false,
        meals: false,
        orderList: [],
      };
    },

    computed: {
      ...mapGetters({
        _appSize: '_layout/appSize',
        _restaurantsById: 'restaurants/byId',
        _restaurantsGetPicture: 'restaurants/getRestaurantPicture',
        _restaurantsChecktime: 'restaurants/checktime',
        _mealsGetPicture: 'meals/getMealPicture',
        _mealsChecktime: 'meals/checktime',
      }),

      orderTableFields() {
        this._appSize; // Resize trigger
        let mobile = '';
        if (this.$responsiveTest('maxMobileL')) {
          mobile = '-mobile';
        }
        return [
          { id: '#' },
          { name: this.$i18n.t(`order-table-fields${mobile}.name`) },
          { quantity: this.$i18n.t(`order-table-fields${mobile}.quantity`) },
          {
            key: 'unit_price',
            label: this.$i18n.t(`order-table-fields${mobile}.unit_price`),
            formatter: value => parseFloat(value).toFixed(2),
          },
          {
            key: 'subtotal',
            label: this.$i18n.t(`order-table-fields${mobile}.subtotal`),
            formatter: value => parseFloat(value).toFixed(2),
          },
        ];
      },

      orderTotal() {
        let total = 0;
        for (let i = 0; i < this.orderList.length; i++) {
          total += parseFloat(this.orderList[i].subtotal, 10);
        }
        return total.toString();
      },

      restaurant() {
        this._restaurantsChecktime;
        return this._restaurantsById({ id: this.id });
      },
    },

    methods: {
      async placeOrder() {
        if (this.orderList.length) {
          this.placed = true;
          let mealsOrdered = [];
          for (let i = 0; i < this.orderList.length; i++) {
            mealsOrdered.push({
              type: 'meals',
              id: this.orderList[i].id.toString(),
              meta: { quantity: this.orderList[i].quantity },
            });
          }
          let data = {
            type: 'orders',
            relationships: {
              restaurants: {
                data: { type: 'restaurants', id: this.id.toString() },
              },
              meals: {
                data: mealsOrdered,
              },
            },
          };
          await this.$store
            .dispatch('orders/create', data)
            .then(() => {
              appVue.$bvModal.show('modal-order-success');
              appVue.$store.dispatch('meals/loadLatest');
            })
            .catch(() => {
              appVue.$bvModal.show('modal-error');
              this.placed = false;
            });
        }
      },
      // ---------------------- ORDERS -------------------------

      redirectRestaurants() {
        this.$router.push({ name: 'Restaurants' });
      },

      getQuantity(id) {
        for (let i = 0; i < this.orderList.length; i++) {
          if (this.orderList[i].id == id) {
            return this.orderList[i].quantity.toString();
          }
        }
        return '0';
      },

      updateList(id, direction) {
        direction = parseInt(direction, 10);
        let key = false;
        for (let i = 0; i < this.orderList.length; i++) {
          if (this.orderList[i].id == id) {
            key = i;
            break;
          }
        }
        if (key !== false) {
          // Must be a positive integer
          this.orderList[key].quantity = Math.max(
            0,
            parseInt(this.orderList[key].quantity, 10) + direction,
          );
          if (this.orderList[key].quantity > 0) {
            this.orderList[key].subtotal =              parseFloat(this.orderList[key].unit_price, 10)
              * parseInt(this.orderList[key].quantity, 10);
          } else {
            this.orderList[key].subtotal = 0;
            // Rebuild the list without the key at 0
            let list = new Array();
            for (let i = 0; i < this.orderList.length; i++) {
              if (i != key) {
                list.push(this.orderList[i]);
              }
            }
            this.orderList = list;
          }
        } else if (direction > 0) {
          let item = {};
          item.id = id;
          item.quantity = Math.max(0, direction);
          item.name = '?';
          item.unit_price = 0;
          let meal = this.$store.getters['meals/byId']({ id });
          if (meal) {
            item.name = meal.attributes.name;
            item.unit_price = meal.attributes.price;
          }
          item.subtotal =            parseFloat(item.unit_price, 10) * parseInt(item.quantity, 10);
          this.orderList.push(item);
        }
      },
    },

    watch: {
      _mealsChecktime: {
        handler() {
          // Get the list of meals
          const meals = this.mxJsonata_belongsTo('meals', {
            restaurants: this.id,
          });
          if (_.isArray(meals) && meals.length) {
            this.meals = meals;
          } else {
            this.meals = null;
          }
        },
        immediate: true,
      },
    },
  };
</script>

<style>
</style>

<style lang="scss" scoped>
  .card-columns {
    @include maxDesktop {
      column-count: 5;
    }
    @include maxTablet {
      column-count: 3;
    }
    @include maxMobileL {
      column-count: 2;
    }
    @include maxMobile {
      column-count: 1;
    }
  }

  .card-header {
    padding: 0;
  }

  .order-pass {
  }

  .restaurant-total {
    font-weight: bold;
    text-align: right;
  }

  .restaurant-card-title,
  .restaurant-table {
    max-width: 800px;
  }

  .restaurant-card-body {
    position: absolute !important;
    color: #ffffff;
    background-color: #6b55374d;
    height: 100%;
    width: 100%;
  }

  .restaurant-card-body,
  .restaurant-card-meal-body {
    position: relative;
    padding: 1.25rem;
    margin: -1.25rem;
  }

  .restaurant-card-meal-badge {
    font-size: 24px;
    position: absolute;
    right: 6px;
    top: 0px;
  }

  .restaurant-card-meal-quantity {
    font-size: 24px;
    position: absolute;
    right: 6px;
    bottom: 6px;
    z-index: 2;
  }

  .order-title {
    color: $primary;
    font-size: 26px;
    text-align: left;
    padding: 16px 2px 20px 2px;
    @include maxMobile {
      font-size: 20px;
      padding: 10px 2px 14px 2px;
    }
  }

  .order-title-line {
    height: 2px;
    width: 100%;
    background-color: $secondary;
  }

  .restaurant-card-header-image {
    font-size: 0;
  }

  .restaurant-info {
    text-align: center;
  }

  .restaurant-card-image {
    position: relative;
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include maxDesktop {
      height: calc(10vw);
    }
    @include maxTablet {
      height: calc(16vw);
    }
    @include maxMobileL {
      height: calc(20vw);
    }
    @include maxMobile {
      height: calc(38vw);
    }
    color: transparent;
  }

  .orders-no {
    padding: 20px;
    color: #909090;
    font-size: 24px;
    font-style: italic;
  }
</style>

<i18n>
{
  "en": {
    "order-title": "New Order",
    "meals": "Meals",
    "total": "Total",
    "no-meal": "None",
    "order-table-fields": {
      "name": "Name",
      "quantity": "Quantity",
      "unit_price": "Unit Price",
      "subtotal": "Subtotal"
    },
    "order-table-fields-mobile": {
      "name": "Name",
      "quantity": "Qty",
      "unit_price": "U.P.",
      "subtotal": "S.T."
    },
    "place-order": "Place Order",
    "create-title": "New Order Placed",
    "create-sentence": "You successfully placed the order. We will deliver it as quick as lightning!"
  },
  "fr": {
    "order-title": "Nouvelle commande",
    "meals": "Plats",
    "total": "Total",
    "no-meal": "Aucun",
    "order-table-fields": {
      "name": "Nom",
      "quantity": "Quantité",
      "unit_price": "Prix unitaire",
      "subtotal": "Sous-total"
    },
    "order-table-fields-mobile": {
      "name": "Nom",
      "quantity": "Qté",
      "unit_price": "P.U.",
      "subtotal": "S.T."
    },
    "place-order": "Passer la commande",
    "create-title": "Nouvelle commande passée",
    "create-sentence": "Commande passée avec succès. Nous la livrerons aussi vite que l'éclair !"
  }
}
</i18n>
