@font-face {
    font-family: 'NeutraTextTF-Alt';
    font-style: normal;
    font-weight: 300;
    src: url('~@/assets/fonts/neutra/otf/NeutraTextTF-LightAlt.otf') format('opentype');
}
@font-face {
    font-family: 'NeutraTextTF-Alt';
    font-style: italic;
    font-weight: 300;
    src: url('~@/assets/fonts/neutra/otf/NeutraTextTF-LightItalicAlt.otf') format('opentype');
}
@font-face {
    font-family: 'NeutraTextTF-Alt';
    font-style: normal;
    font-weight: 400;
    src: url('~@/assets/fonts/neutra/otf/NeutraTextTF-BookAlt.otf') format('opentype');
}
@font-face {
    font-family: 'NeutraTextTF-Alt';
    font-style: italic;
    font-weight: 400;
    src: url('~@/assets/fonts/neutra/otf/NeutraTextTF-BookItalicAlt.otf') format('opentype');
}
@font-face {
    font-family: 'NeutraTextTF-Alt';
    font-style: normal;
    font-weight: 500;
    src: url('~@/assets/fonts/neutra/otf/NeutraTextTF-DemiAlt.otf') format('opentype');
}
@font-face {
    font-family: 'NeutraTextTF-Alt';
    font-style: italic;
    font-weight: 500;
    src: url('~@/assets/fonts/neutra/otf/NeutraTextTF-DemiItalicAlt.otf') format('opentype');
}
@font-face {
    font-family: 'NeutraTextTF-Alt';
    font-style: normal;
    font-weight: 600;
    src: url('~@/assets/fonts/neutra/otf/NeutraTextTF-BoldAlt.otf') format('opentype');
}
@font-face {
    font-family: 'NeutraTextTF-Alt';
    font-style: italic;
    font-weight: 600;
    src: url('~@/assets/fonts/neutra/otf/NeutraTextTF-BoldItalicAlt.otf') format('opentype');
}
