<template>
  <div>
    <b-modal id="modal-error" :title="$t('system')" no-stacking ok-only body-text-variant="danger">
      <p class="my-4">{{ $t('error') }}</p>
    </b-modal>
    <template v-if="_authorization">
      <owner-layout v-if="_role === 'owner'"></owner-layout>
      <regular-layout v-else-if="_role === 'regular'"></regular-layout>
    </template>
    <template v-else>
      <credentials></credentials>
    </template>
  </div>
</template>

<script>
  // @ is an alias to /src
  import OwnerLayout from '@/views/layout/owner/Layout.vue';
  import RegularLayout from '@/views/layout/regular/Layout.vue';
  import Credentials from '@/views/auth/Credentials.vue';
  import { mapGetters, mapActions } from 'vuex';

  export default {
    name: 'App',

    data() {
      return {
        authInterval: null,
      };
    },

    components: {
      OwnerLayout,
      RegularLayout,
      Credentials,
    },

    computed: {
      ...mapGetters({
        _appSize: '_layout/appSize',
        _authorization: '_auth/authorization',
        _role: '_app/role',
      }),
    },

    methods: {
      ...mapActions({
        _setAppSize: '_layout/setAppSize',
      }),

      onResize() {
        let appSize = 'Desktop';
        if (this.$responsiveTest('isMobile')) {
          appSize = 'Mobile';
        } else if (this.$responsiveTest('isMobileL')) {
          appSize = 'MobileL';
        } else if (this.$responsiveTest('isTablet')) {
          appSize = 'Tablet';
        }
        if (appSize != this._appSize) {
          // Save the appSize value in the store to be used globally
          this._setAppSize(appSize);
        }
      },

      getRole() {
        // Make sure we get the Role by consulting the server
        let roleInterval = setInterval(() => {
          if (this._role) {
            clearInterval(roleInterval);
          } else {
            appVue.$store.dispatch('_app/getRole');
          }
        }, 2000);
      },
    },

    async created() {
      // This help to initialize _authorization
      await this.$store.dispatch('_auth/getAuthorization');
      // Set Role
      await this.$store.dispatch('_app/getRole');
      // Keep a refreshed token every hour
      this.authInterval = setInterval(async () => {
        await appVue.$store.dispatch('_auth/getAuthorization');
        await this.$store.dispatch('_app/getRole');
      }, 3600 * 1000);
      // Attach onresize event
      $(window).on(`resize.${this._uid}`, this.onResize);
    },

    beforeDestroy() {
      // Use namespace to not unbind other binding on same element
      $(window).off(`.${this._uid}`);
      // Clean the interval
      clearInterval(this.authInterval);
    },

    mounted() {
      this.onResize();
      this.getRole();
    },

    watch: {
      _authorization: {
        handler(newVal) {
          if (!newVal) {
            this.$store.dispatch('_app/reset');
          }
        },
        immediate: true,
      },
    },
  };
</script>

<i18n>
{
  "en": {
    "system": "System",
    "error": "An error occurred, please try again."
  },
  "fr": {
    "system": "Système",
    "error": "Une erreur s'est produite, veuillez réessayer."
  }
}
</i18n>
