<template>
  <div>

    <!-- ORDERS -->
    <div class="order-title">
      <span>{{ $t('orders') }}</span>
      <div class="order-title-line"></div>
    </div>

    <template v-if="_ordersAll">
      <b-card-group deck>
        <b-card v-for="order in _ordersAll" :key="'orders_' + order.id" class="order-card order-orders-card" @click.stop="openModalOrder(order)" :class="{'orders-received':isReceived(order.attributes.status) }">
          <template #header>
            <div class="order-orders-header">
              <span class="order-orders-id">{{ $t('order-number', {id: order.id}) }}</span>
              <span class="order-orders-price"><span class="order-orders-currency">$</span>{{ totalCost(order.id) }}</span>
            </div>
          </template>
          <div>
            <span>
              <span class="order-orders-date">{{ $d(order.attributes.created_at * 1000, 'medium') }}</span><br />
              <span>{{ getStatus(order.attributes.status) }}</span>
            </span>
            <b-button v-if="isReceivable(order.attributes.status)" class="order-orders-next" variant="success" @click.stop="nextStatus(order.id, 5)">{{ $t('status.next.4') }}</b-button>
            <b-button v-if="isNextable(order.attributes.status)" class="order-orders-next" variant="outline-secondary" @click.stop="nextStatus(order.id, parseInt(order.attributes.status, 10) + 1)">{{ getNext(order.attributes.status) }}</b-button>
            <b-button v-if="isCancelable(order.attributes.status)" class="order-orders-next" variant="danger" @click.stop="nextStatus(order.id, 6)">{{ $t('status.cancel') }}</b-button>
          </div>
        </b-card>
      </b-card-group>
    </template>
    <template v-else-if="orders == null">
      <div class="order-info">
        <div class="orders-no">{{ $t('no-order') }}</div>
      </div>
    </template>
    <template v-else>
      <div class="order-info">
        <b-spinner variant="primary" class="layout-spinner"></b-spinner>
      </div>
    </template>

    <b-modal id="modal-show-order" scrollable @hidden="resetOrderModel" ok-only>
      <template #modal-header>
        <h5>{{ $t('order-number', {id: orderModel.id}) }}</h5>
      </template>

      <div><b>{{ orderModel.restaurantName }}</b></div>
      <div>{{ $t('order-model.on', {on: $d(orderModel.on * 1000, 'medium')}) }}</div>
      <div>{{ $t('order-model.status', {status: getStatus(orderModel.status) }) }}</div>
      <div>{{ $t('order-model.by', {by: orderModel.byName }) }} <span v-if="_role === 'owner' && orderModel.blocked">({{ $t('customers-blocked') }})</span></div>
      <b-link v-if="_role === 'owner'" class="order-modal-order-link" @click.stop="BlockUnblockUser(orderModel)">{{ $tc('order-model.block', orderModel.blocked) }}</b-link><span v-if="orderModel.blocked"></span>
      <div class="order-modal-order-line"></div>
      <b-table striped :items="orderModel.list" :fields="orderTableFields"></b-table>
      <div class="order-modal-order-total">{{ $t('order-model.total') }}: ${{ orderModel.total }}</div>
      <div class="order-modal-order-line"></div>
      <b-table striped :items="orderModel.history" :fields="historyTableFields"></b-table>
    </b-modal>

  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  import BackLink from '@/components/global/BackLink.vue';

  import mxRouter from '@/mixins/router.js';
  import mxJsonata from '@/mixins/jsonata.js';

  export default {
    name: 'Orders',

    components: {
      BackLink,
    },

    mixins: [mxRouter, mxJsonata],

    data() {
      return {
        orders: false,
        meals: false,
        orderModel: {
          order: null,
          id: null,
          on: null,
          byId: null,
          byName: null,
          restaurantName: null,
          blocked: null,
          status: null,
          list: null,
        },
      };
    },

    computed: {
      ...mapGetters({
        _appSize: '_layout/appSize',
        _role: '_app/role',
        _ordersAll: 'orders/all',
        _mealsAll: 'meals/all',
        _ordersById: 'orders/byId',
        _mealsById: 'meals/byId',
        _usersById: 'users/byId',
      }),

      orderTableFields() {
        this._appSize; // Resize trigger
        let mobile = '';
        if (this.$responsiveTest('maxMobileL')) {
          mobile = '-mobile';
        }
        return [
          { id: '#' },
          { name: this.$i18n.t(`order-table-fields${mobile}.name`) },
          { quantity: this.$i18n.t(`order-table-fields${mobile}.quantity`) },
          {
            key: 'unit_price',
            label: this.$i18n.t(`order-table-fields${mobile}.unit_price`),
            formatter: value => parseFloat(value).toFixed(2),
          },
          {
            key: 'subtotal',
            label: this.$i18n.t(`order-table-fields${mobile}.subtotal`),
            formatter: value => parseFloat(value).toFixed(2),
          },
        ];
      },
      historyTableFields() {
        return [
          { date: this.$i18n.t('history.date') },
          { status: this.$i18n.t('history.status') },
        ];
      },
    },

    created() {
      if (this._role == 'regular') {
        this._setBackButton({ name: 'Restaurants' });
      } else {
        this._setBackButton(false);
      }
    },

    methods: {
      ...mapActions({
        _setBackButton: '_layout/setBackButton',
      }),

      async BlockUnblockUser(orderModel) {
        let userId = orderModel.byId;
        let blocked = !orderModel.blocked;
        let restaurantId = jsonata(
          'items.relationships.restaurants.data.id',
        ).evaluate({ items: orderModel.order });
        let restaurant = this.$store.getters['restaurants/byId']({
          id: restaurantId,
        });
        // [NOTE: Bad practice] This line disable warning on direct state changes
        const currentCommitting = appVue.$store._committing;
        appVue.$store._committing = true;
        // Construct the architecture if if does not exists
        if (restaurant.relationships == undefined) {
          restaurant.relationships = {};
        }
        if (restaurant.relationships.blocked_users == undefined) {
          restaurant.relationships.blocked_users = {};
        }
        if (restaurant.relationships.blocked_users.data == undefined) {
          restaurant.relationships.blocked_users.data = [
            {
              type: 'users',
              id: userId,
              meta: {
                blocked: !!blocked,
              },
            },
          ];
        } else {
          for (let i in restaurant.relationships.blocked_users.data) {
            if (restaurant.relationships.blocked_users.data[i].id == userId) {
              if (
                restaurant.relationships.blocked_users.data[i].meta == undefined
              ) {
                restaurant.relationships.blocked_users.data[i].meta = [];
              }
              restaurant.relationships.blocked_users.data[
                i
              ].meta.blocked = !!blocked;
            }
          }
        }
        //  Rollback the value
        appVue.$store._committing = currentCommitting;
        await this.$store.dispatch('restaurants/update', restaurant);
        await this.buildOrderModel();
      },

      // ---------------------- ORDERS -------------------------
      async openModalOrder(order) {
        this.orderModel.id = order.id;
        await this.buildOrderModel();
        this.$bvModal.show('modal-show-order');
      },
      async buildOrderModel() {
        // Help to rebuild in case of data change
        let order = this.$store.getters['orders/byId']({
          id: this.orderModel.id,
        });
        if (order) {
          this.orderModel.order = order;
          this.orderModel.on = order.attributes.created_at;
          this.orderModel.byId = order.attributes.created_by;
          this.orderModel.status = order.attributes.status;

          let restaurantId = jsonata(
            'items.relationships.restaurants.data.id',
          ).evaluate({ items: order });
          let restaurant = this.$store.getters['restaurants/byId']({
            id: restaurantId,
          });
          // Restaurant name
          if (restaurant) {
            this.orderModel.restaurantName = restaurant.attributes.name;
          }

          let blocked = jsonata(
            `items.relationships.blocked_users.data[$number(id)=$number(${this.orderModel.byId})].meta.blocked`,
          ).evaluate({ items: restaurant });

          if (blocked == undefined) {
            // We are unblocked by default
            this.orderModel.blocked = false;
          } else if (typeof blocked == 'boolean') {
            // We invert the value
            this.orderModel.blocked = blocked;
          } else {
            this.orderModel.blocked = !!parseInt(blocked, 10);
          }

          this.orderModel.list = this.buildOrderList();
          this.orderModel.total = 0;
          for (let i in this.orderModel.list) {
            this.orderModel.total += this.orderModel.list[i].subtotal;
          }
          await appVue.$store.dispatch('users/loadById', {
            id: order.attributes.created_by,
          });
          let user = await this._usersById({ id: order.attributes.created_by });
          if (user) {
            this.orderModel.byName = user.attributes.name;
          }
          this.buildOrderHistory();
        }
      },

      resetOrderModel() {
        this.orderModel.order = null;
        this.orderModel.id = null;
        this.orderModel.on = null;
        this.orderModel.byId = null;
        this.orderModel.byName = null;
        this.orderModel.restaurantName = null;
        this.orderModel.blocked = null;
        this.orderModel.status = null;
        this.orderModel.list = null;
        this.orderModel.total = null;
        this.orderModel.history = null;
      },
      buildOrderList() {
        let listMeals = jsonata(
          '[items.relationships.meals.data.[id, meta.quantity, meta.price, ($number(meta.quantity) * $number(meta.price))]]',
        ).evaluate({ items: this.orderModel.order });
        if (!_.isArray(listMeals[0])) {
          listMeals = [listMeals];
        }
        for (let i in listMeals) {
          listMeals[i][4] = null;
          let meal = this.$store.getters['meals/byId']({
            id: listMeals[i][0],
          });
          if (meal) {
            listMeals[i][4] = meal.attributes.name;
          }
        }
        // Build object
        let list = [];
        for (let i = 0; i < listMeals.length; i++) {
          list.push({
            id: listMeals[i][0],
            name: listMeals[i][4],
            quantity: listMeals[i][1],
            unit_price: listMeals[i][2],
            subtotal: listMeals[i][3],
          });
        }
        return list;
      },

      buildOrderHistory() {
        this.orderModel.history = [];
        // Add creation
        this.orderModel.history.push({
          date: this.$i18n.d(this.orderModel.on * 1000, 'medium'),
          status: this.getStatus(1),
        });
        // Add other dates
        for (let i in this.orderModel.order.attributes.status_history) {
          this.orderModel.history.push({
            date: this.$i18n.d(
              this.orderModel.order.attributes.status_history[i][0] * 1000,
              'medium',
            ),
            status: this.getStatus(
              this.orderModel.order.attributes.status_history[i][1],
            ),
          });
        }
      },

      totalCost(id) {
        let order = [this._ordersById({ id })];
        const sum = jsonata(
          '$sum(items.relationships.meals.data.meta.($number(price) * $number(quantity)))',
        ).evaluate({ items: order });
        if (sum <= 0) {
          return '0';
        }
        return sum;
      },

      getStatus(status) {
        status = parseInt(status, 10);
        return this.$i18n.t(`status.info.${status}`);
      },

      getNext(status) {
        status = parseInt(status, 10);
        return this.$i18n.t(`status.next.${status}`);
      },

      isReceivable(status) {
        status = parseInt(status, 10);
        if (this._role == 'regular') {
          return status == 4;
        }
        return false;
      },

      isNextable(status) {
        status = parseInt(status, 10);
        if (this._role == 'regular') {
          return false;
        }
        return status <= 3;
      },

      isCancelable(status) {
        status = parseInt(status, 10);
        if (this._role == 'regular') {
          return status <= 4;
        }
        return false;
      },

      isReceived(status) {
        status = parseInt(status, 10);
        return status >= 5;
      },

      async nextStatus(id, status) {
        status = parseInt(status, 10);
        const data = {
          type: 'orders',
          id,
          attributes: { status },
        };
        await this.$store.dispatch('orders/patch', { data }).catch(() => {
          appVue.$bvModal.show('modal-error');
        });
      },
    },
  };
</script>

<style>
</style>

<style lang="scss" scoped>
  .card-columns {
    @include maxDesktop {
      column-count: 5;
    }
    @include maxTablet {
      column-count: 3;
    }
    @include maxMobileL {
      column-count: 2;
    }
    @include maxMobile {
      column-count: 1;
    }
  }

  .order-modal-order-link {
    font-size: 12px;
  }

  .order-modal-order-line {
    margin: 20px 0;
    margin-left: 4%;
    width: 92%;
    height: 3px;
    opacity: 0.5;
    background-color: $secondary;
  }

  .order-modal-order-total {
    font-weight: bold;
    text-align: right;
  }

  .order-meal-add {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    @include maxDesktop {
      padding: calc(7vw) 0;
    }
    @include maxTablet {
      padding: calc(9vw) 0;
    }
    @include maxMobileL {
      padding: calc(11vw) 0;
    }
    @include maxMobile {
      padding: calc(7vw) 0;
    }
    &.disabled {
      opacity: 0.5 !important;
      cursor: default !important;
      box-shadow: none;
    }
  }

  .order-card-body,
  .order-card-meal-body {
    position: relative;
    padding: 1.25rem;
    margin: -1.25rem;
  }

  .order-card-meal-badge {
    font-size: 24px;
    position: absolute;
    right: 6px;
    top: 0px;
  }

  .orders-received {
    opacity: 0.3;
  }

  .order-title {
    color: $primary;
    font-size: 26px;
    text-align: left;
    padding: 16px 2px 20px 2px;
    @include maxMobile {
      font-size: 20px;
      padding: 10px 2px 14px 2px;
    }
  }

  .order-title-line {
    height: 2px;
    width: 100%;
    background-color: $secondary;
  }

  .card-header {
    padding: 0;
  }

  .order-card,
  .order-meal-card {
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 6px 0px $primaryShadow;
    }
  }

  .order-card-header-image {
    font-size: 0;
  }

  .restaurants-meal-add {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    @include maxDesktop {
      padding: calc(7vw) 0;
    }
    @include maxTablet {
      padding: calc(9vw) 0;
    }
    @include maxMobileL {
      padding: calc(11vw) 0;
    }
    @include maxMobile {
      padding: calc(7vw) 0;
    }
  }

  .order-info {
    text-align: center;
  }

  .order-card-image {
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include maxDesktop {
      height: calc(10vw);
    }
    @include maxTablet {
      height: calc(16vw);
    }
    @include maxMobileL {
      height: calc(20vw);
    }
    @include maxMobile {
      height: calc(38vw);
    }
    color: transparent;
    &:hover {
      color: #ffffff;
      // background-color: red;
    }
  }

  .order-card-meal {
  }

  .customer-table {
    margin-left: 20px;
    & tr {
      white-space: nowrap;
    }
    & td {
      vertical-align: middle;
      padding: 6px 16px;
    }
  }

  .orders-no {
    padding: 20px;
    color: #909090;
    font-size: 24px;
    font-style: italic;
  }

  .order-orders-card {
    margin: 14px;
    min-width: fit-content;
    max-width: 500px;
  }

  .order-orders-header {
    margin: 4px 10px;
  }

  .order-orders-id {
    font-style: italic;
  }

  .order-orders-price {
    float: right;
    margin-left: 20px;
  }

  .order-orders-currency {
    opacity: 0.9;
  }

  .order-orders-next {
    float: right;
    bottom: 0;
    margin-left: 12px;
  }

  .order-orders-date {
    opacity: 0.7;
    font-size: 14px;
  }

  .order-meal-currency {
    position: absolute;
    left: 3px;
    top: 8px;
    opacity: 0.7;
    font-size: 14px;
  }

  .order-meal-currency-span {
    position: relative;
  }
</style>

<i18n>
{
  "en": {
    "orders-count": " | 1 Order in process | {count} Orders in process",
    "order-title": "My Restaurant",
    "customers-blocked": "customers blocked",
    "orders": "Orders",
    "meals": "Meals",
    "unblock": "Unblock",
    "order-number": "Order #{id}",
    "upload": "Upload Photo",
    "status": {
      "info": {
        "1": "Placed",
        "2": "Processing",
        "3": "In Route",
        "4": "Delivered",
        "5": "Received",
        "6": "Canceled"
      },
      "next": {
        "1": "Process It",
        "2": "Ready to go",
        "3": "Delivered",
        "4": "Received"
      },
      "cancel": "Cancel"
    },
    "meal": {
      "no": "None",
      "add": "Add a Meal",
      "edit": "Meal Edition",
      "name": "Name",
      "description": "Description",
      "price": "Price"
    },
    "restaurant": {
      "edit": "Restaurant Edition",
      "name": "Name",
      "description": "Description"
    },
    "order-model": {
      "on": "Order placed on {on}",
      "by": "By {by}",
      "block": "Block the customer | Unblock the costumer | Unblock the customer",
      "status": "Current status: {status}",
      "total": "Total"
    },
    "order-table-fields": {
      "name": "Name",
      "quantity": "Quantity",
      "unit_price": "Unit Price",
      "subtotal": "Subtotal"
    },
    "order-table-fields-mobile": {
      "name": "Name",
      "quantity": "Qty",
      "unit_price": "U.P.",
      "subtotal": "S.T."
    },
    "history": {
      "date": "Date",
      "status": "Status"
    }
  },
  "fr": {
    "orders-count": " | 1 commande en cours | {count} commandes en cours",
    "order-title": "Mon restaurant",
    "customers-blocked": "clients bloqués",
    "orders": "Commandes",
    "meals": "Plats",
    "unblock": "Débloquer",
    "order-number": "Commande #{id}",
    "upload": "Uploader une image",
    "status": {
      "info": {
        "1": "Commandé",
        "2": "En cours",
        "3": "En route",
        "4": "Livré",
        "5": "Reçu",
        "6": "Annulé"
      },
      "next": {
        "1": "Traiter",
        "2": "Prêt à partir",
        "3": "Livré",
        "4": "Reçu"
      },
      "cancel": "Annuler"
    },
    "meal": {
      "no": "Aucun",
      "add": "Ajouter un plat",
      "edit": "Édition de plat",
      "name": "Nom",
      "description": "Description",
      "price": "Prix"
    },
    "restaurant": {
      "edit": "Édition de restaurant",
      "name": "Nom",
      "description": "Description"
    },
    "order-model": {
      "on": "Commande passée le {on}",
      "by": "Par {by}",
      "block": "Bloquer le client | Débloquer le client | Débloquer le client",
      "status": "Etape actuelle: {status}",
      "total": "Total"
    },
    "order-table-fields": {
      "name": "Nom",
      "quantity": "Quantité",
      "unit_price": "Prix unitaire",
      "subtotal": "Sous-total"
    },
    "order-table-fields-mobile": {
      "name": "Nom",
      "quantity": "Qté",
      "unit_price": "P.U.",
      "subtotal": "S.T."
    },
    "history": {
      "date": "Date",
      "status": "Status"
    }
  }
}
</i18n>
