<template>
  <div>

    <b-modal id="modal-access-denied" :title="$t('denied-title')" no-stacking ok-only>
      <p class="my-4">{{ $t('denied-sentence') }}</p>
    </b-modal>

    <div class="restaurants-title">
      <template v-if="_role === 'owner'">
        {{ $t('manage') }}
      </template>
      <template v-else>
        {{ $t('where') }}
      </template>
    </div>

    <b-card-group columns>

      <b-card v-if="_role === 'owner'" :class="{ 'disabled': adding, }" bg-variant="light" text-variant="primary" class="text-center restaurants-card restaurants-add" @click.stop="openModalRestaurant">
        <b-card-text class="bm-perfect_center">
          <b-spinner v-show="adding" class="layout-spinner"></b-spinner>
          <div v-show="!adding">{{ $t('add') }}</div>
        </b-card-text>
      </b-card>

      <b-card v-for="item in _restaurantsAll" :key="'restaurants_' + item.id" v-show="isVisible(item.id)" :class="{ 'restaurant-access-disabled': isBlocked(item.id), }" class="restaurants-card" @click.stop="accessRestaurant(item.id)">
        <template #header>
          <div class="restaurants-card-image" :style="{ backgroundImage: `url(${_restaurantsGetPicture(item.id)})`}">
            <div v-if="isBlocked(item.id)" class="bm-perfect_center restaurants-unavailable"><span class="bm-perfect_center">{{ $t('unavailable') }}</span></div>
            <div v-else-if="!hasMeals(item.id)" class="bm-perfect_center restaurants-nomeal"><span class="bm-perfect_center">{{ $t('nomeal') }}</span></div>
          </div>
        </template>
        <b-card-title>{{ item.attributes.name }}</b-card-title>
        <b-card-text>
          {{ item.attributes.description }}
        </b-card-text>
        <b-card-text class="small text-muted">
          <b-badge variant="info">{{ nbOrders(item.id) }}</b-badge>
        </b-card-text>
      </b-card>
    </b-card-group>

    <b-modal v-if="_role === 'owner'" id="modal-add-restaurant" @ok="addRestaurant" :ok-disabled="!isValidRestaurant()">
      <template #modal-header>
        <h5>{{ $t('add') }}</h5>
      </template>
      <b-form-input class="mb-3" v-model="newRestaurant.name" maxlength="100" :placeholder="$t('restaurant.name')" :state="stateRestaurantName()" required trim></b-form-input>
      <b-form-textarea v-model="newRestaurant.description" :placeholder="$t('restaurant.description')" :state="stateRestaurantDescription()" number rows="3" max-rows="6" maxlength="250" no-resize></b-form-textarea>
    </b-modal>

  </div>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  import mxRouter from '@/mixins/router.js';
  import mxJsonata from '@/mixins/jsonata.js';

  export default {
    name: 'Restaurants',

    mixins: [mxRouter, mxJsonata],

    created() {
      this._restaurantsLoadLatest();
      this._setBackButton(false);
    },

    data() {
      return {
        userId: null,
        adding: null,
      };
    },

    computed: {
      ...mapGetters({
        _role: '_app/role',
        _restaurantsAll: 'restaurants/all',
        _ordersChecktime: 'orders/checktime', // Track any update without deep watching
        _restaurantsGetPicture: 'restaurants/getRestaurantPicture',
      }),

      newRestaurant() {
        return {
          name: this.$i18n.t('restaurant.name'),
          description: this.$i18n.t('restaurant.description'),
        };
      },
    },

    async mounted() {
      const user = await this._getUser();
      if (user && user.attributes) {
        this.userId = user.id;
      }
    },

    methods: {
      ...mapActions({
        _restaurantsLoadLatest: 'restaurants/loadLatest',
        _getUser: '_app/getUser',
        _setBackButton: '_layout/setBackButton',
      }),

      accessRestaurant(id) {
        if (this.isBlocked(id)) {
          this.$bvModal.show('modal-access-denied');
        } else {
          this.$router.push({ name: 'Restaurant', params: { id } });
        }
      },

      openModalRestaurant() {
        this.$bvModal.show('modal-add-restaurant');
      },
      isValidRestaurant() {
        return this.stateRestaurantName() && this.stateRestaurantDescription();
      },
      stateRestaurantName() {
        if (
          this.newRestaurant.name == null ||
          this.newRestaurant.name.length == 0
        ) {
          return null;
        }
        return this.newRestaurant.name.length <= 100;
      },
      stateRestaurantDescription() {
        if (
          this.newRestaurant.description == null ||
          this.newRestaurant.description.length == 0
        ) {
          return null;
        }
        return this.newRestaurant.description.length <= 250;
      },

      isBlocked(restaurantId) {
        if (this._role === 'regular' && this.userId) {
          // We only check for Regular users
          const blocked = jsonata(
            `$exists(items[$number(id)=$number(${restaurantId})].relationships.blocked_users.data[$number(id)=$number(${this.userId})].meta[$number(blocked)=1])`
          ).evaluate({ items: this._restaurantsAll });
          return blocked;
        }
        return false;
      },

      hasMeals(restaurantId) {
        return jsonata(
          `$exists(items[$number(id)=$number(${restaurantId})].relationships.meals)`
        ).evaluate({ items: this._restaurantsAll });
      },

      isVisible(restaurantId) {
        if (!this.hasMeals(restaurantId)) {
          if (this._role === 'regular') {
            return false;
          }
        }
        return true;
      },

      async addRestaurant() {
        if (!this.isValidRestaurant()) {
          // Prevent modal from closing
          bvModalEvt.preventDefault();
          return false;
        }
        if (!this.adding) {
          this.adding = true;
          // Give soe value per default (faster to implement, but not the best practice)
          const data = {
            type: 'restaurants',
            attributes: {
              name: this.newRestaurant.name,
              description: this.newRestaurant.description,
            },
          };
          const restaurant = await this.$store
            .dispatch('restaurants/create', data)
            .then(async () => {
              await appVue.$store.dispatch('restaurants/loadLatest');
              const newRestaurant =
                appVue.$store.getters['restaurants/lastCreated'];
              return newRestaurant;
            })
            .catch(() => null);
          this.adding = false;
          if (restaurant) {
            this.$router.push({
              name: 'Restaurant',
              params: { id: restaurant.id },
            });
          } else {
            appVue.$bvModal.show('modal-error');
          }
        }
        return true;
      },

      nbOrders(restaurantId) {
        this._ordersChecktime;
        const items = this.mxJsonata_belongsTo('orders', {
          restaurants: restaurantId,
        });
        // Get the number of orders with pending status (nor received[5] neither canceled[6])
        // We use internal relationships via the mixin because related objects are not loaded automatically by @restate/vuex
        let count = jsonata(
          '$count([items[$number(attributes.status) in [1..4]]])'
        ).evaluate({ items });
        return this.$i18n.tc('orders-count', count);
      },
    },
  };
</script>

<style>
</style>

<style lang="scss" scoped>
  .restaurants-title {
    color: $primary;
    font-size: 32px;
    text-align: left;
    padding: 10px 2px 20px 2px;
    @include maxMobile {
      font-size: 20px;
      padding: 10px 2px 14px 2px;
    }
  }

  .card-header {
    padding: 0;
  }

  .card-columns {
    @include maxDesktop {
      column-count: 5;
    }
    @include maxTablet {
      column-count: 4;
    }
    @include maxMobileL {
      column-count: 3;
    }
    @include maxMobile {
      column-count: 1;
    }
  }

  .restaurant-access-disabled {
    cursor: default !important;
    opacity: 0.4;
  }

  .restaurants-card {
    cursor: pointer;
    &:hover {
      box-shadow: 0px 0px 6px 0px $primaryShadow;
    }
  }

  .restaurants-card-image {
    position: relative;
    width: 100%;
    height: 140px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    @include maxDesktop {
      height: calc(10vw);
    }
    @include maxTablet {
      height: calc(16vw);
    }
    @include maxMobileL {
      height: calc(20vw);
    }
    @include maxMobile {
      height: calc(38vw);
    }
  }

  .restaurants-unavailable {
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    background-color: #8c857d96;
  }

  .restaurants-nomeal {
    width: 100%;
    height: 100%;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
    background-color: #8c857d96;
  }

  .restaurants-add {
    position: relative;
    font-size: 22px;
    font-weight: bold;
    opacity: 0.8;
    &:hover {
      opacity: 1;
    }
    @include maxDesktop {
      padding: calc(7vw) 0;
    }
    @include maxTablet {
      padding: calc(9vw) 0;
    }
    @include maxMobileL {
      padding: calc(11vw) 0;
    }
    @include maxMobile {
      padding: calc(7vw) 0;
    }
    &.disabled {
      opacity: 0.5 !important;
      cursor: default !important;
      box-shadow: none;
    }
  }
</style>

<i18n>
{
  "en": {
    "where": "Where am I going to eat?",
    "manage": "Restaurants Manager",
    "orders-count": " | 1 Order in process | {count} Orders in process",
    "add": "Add a Restaurant",
    "restaurant": {
      "name": "Restaurant name",
      "description": "Restaurant description"
    },
    "denied-title": "Restaurant Unavailable",
    "denied-sentence": "You can't access this restaurant. Please contact the owner for more information.",
    "unavailable": "Unavailable",
    "nomeal": "No Meal Yet"
  },
  "fr": {
    "where": "Où vais-je manger ?",
    "manage": "Gestionnaire de restaurants",
    "orders-count": " | 1 commande en cours | {count} commandes en cours",
    "add": "Ajouter un restaurant",
    "restaurant": {
      "name": "Nom du restaurant",
      "description": "Description du restaurant"
    },
    "denied-title": "Restaurant indisponible",
    "denied-sentence": "Vous ne pouvez pas accéder à ce restaurant. Veuillez contacter le propriétaire pour plus d'informations.",
    "unavailable": "Indisponible",
    "nomeal": "Aucun plat"
  }
}
</i18n>
