<!--
  This page is opened once after Login/Register for Owner only
-->

<template>
  <div>
    <div class="bm-button-gradient welcome-wrapper">
      <div class="welcome-text font_cursive">{{ $t('welcome') }}</div>
    </div>
    <div class="welcome-bg"></div>
  </div>
</template>

<script>
  import mxRouter from '@/mixins/router.js';

  export default {
    name: 'Welcome',
    mixins: [mxRouter],
  };
</script>

<style lang="scss" scoped>
  .welcome-wrapper {
    z-index: 2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fffbf578;
    text-align: center;
  }

  .welcome-bg {
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('~@/assets/img/generic/welcome.jpg');
  }

  .welcome-text {
    position: absolute;
    top: 0;
    left: 0;
    color: $primary;
    width: 100%;
    top: 37%;
    font-size: 48px;
    font-weight: 600;
    @include maxMobileL {
      font-size: 42px;
    }
    @include maxMobile {
      font-size: 36px;
    }
  }
</style>

<i18n>
{
  "en": {
    "welcome": "Welcome"
  },
  "fr": {
    "welcome": "Bienvenue"
  }
}
</i18n>
