<template>

  <div>
    <b-navbar sticky type="primary">
      <b-navbar-nav>
        <back-link />
      </b-navbar-nav>

      <b-navbar-nav class="ml-auto">
        <b-nav-item right class="appbar-icon-item" @click.stop="openOrders">
          <i class="fas fa-shopping-bag appbar-icon"></i>
          <span class="appbar-label">{{ $t('orders') }}</span>
          <b-badge pill variant="danger" class="appbar-orders-badge">{{ ordersBadges }}</b-badge>
        </b-nav-item>

        <b-nav-item-dropdown class="appbar-icon-item" right no-caret>
          <template #button-content>
            <i class="far fa-user appbar-icon"></i>
            <span class="appbar-label">{{ $t('account') }}</span>
          </template>
          <b-dropdown-text>
            {{ username }}
          </b-dropdown-text>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item :active="language == 'en'" @click="changeLang('en')">English</b-dropdown-item>
          <b-dropdown-item :active="language == 'fr'" @click="changeLang('fr')">Français</b-dropdown-item>
          <b-dropdown-divider></b-dropdown-divider>
          <b-dropdown-item @click="logout()">{{ $t('logout') }}</b-dropdown-item>
        </b-nav-item-dropdown>
      </b-navbar-nav>

    </b-navbar>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  import BackLink from '@/components/global/BackLink.vue';

  export default {
    name: 'RegularNavBar',

    components: {
      BackLink,
    },

    data() {
      return {
        username: null,
        ordersBadges: null,
      };
    },

    computed: {
      ...mapGetters({
        _appSize: '_layout/appSize',
        _navigationDrawer: '_layout/navigationDrawer',
        _displayPage: '_layout/displayPage',
        _ordersChecktime: 'orders/checktime',
        _ordersAll: 'orders/all',
      }),

      language() {
        return this.$i18n.locale;
      },
    },

    async mounted() {
      const user = await this._getUser();
      if (user && user.attributes) {
        this.username = user.attributes.name;
      }
    },

    methods: {
      ...mapActions({
        _logout: '_auth/logout',
        _setNavigationDrawer: '_layout/setNavigationDrawer',
        _getUser: '_app/getUser',
      }),

      setNavigationDrawer() {
        this._setNavigationDrawer(!this._navigationDrawer);
      },

      changeLang(lang) {
        localStorage.setItem('app.lang', lang);
        appVue.$i18n.locale = lang;
      },

      logout() {
        // We don't need to make this call Asynchronous since the Cookie and localStorage will be deleted at once
        this._logout();
        this.$router.push({ name: 'authLogin' });
        // We need to refresh, otherwise $router cache components for the route and a Owner can see pages from a Regular
        window.location.reload(true);
      },

      openOrders() {
        this.$router.push({ name: 'Orders' });
      },
    },

    watch: {
      _ordersChecktime: {
        async handler() {
          const items = await this._ordersAll;
          // Get the number of orders with pending status (nor received[5] neither canceled[6])
          let count = jsonata(
            '$count([items[$number(attributes.status) in [1..4]]])',
          ).evaluate({ items });
          if (count <= 0) {
            count = null;
          } else if (count > 9) {
            count = '9+';
          }
          this.ordersBadges = count;
        },
        immediate: true,
      },
    },
  };
</script>

<style lang="scss" scoped>
  .appbar-icon {
    font-size: 32px;
  }

  .appbar-icon-item {
    margin-right: 16px;
    position: relative;
  }

  .appbar-label {
    position: absolute;
    transform: translateX(-50%);
    bottom: -6px;
    left: 50%;
    font-size: 10px;
  }

  .appbar-orders-badge {
    position: absolute;
    top: 10px;
    right: 0px;
    font-size: 9px;
    background-color: tomato;
    font-weight: 200;
    color: #ffffff;
  }

  .appbar-dropdown-header {
    text-align: center;
  }
</style>

<i18n>
{
  "en": {
    "logout": "Log Out",
    "orders": "Orders",
    "account": "Account"
  },
  "fr": {
    "logout": "Se déconnecter",
    "orders": "Commandes",
    "account": "Compte"
  }
}
</i18n>
