<!--
Usage:
this._setBackButton(true); => Display back button and go to -1;
this._setBackButton({name:'RouteName', params: {'id': 123}}); => Display back button and push to the route specified;
-->
<template>
  <span class="back-link">
    <span v-if="_backButton" @click.stop="back"><i class="fas fa-chevron-left back-link-icon"></i>{{ $t('back') }}</span>
  </span>
</template>

<script>
  import { mapActions, mapGetters } from 'vuex';

  export default {
    name: 'BackLink',

    computed: {
      ...mapGetters({
        _backButton: '_layout/backButton',
      }),
    },

    methods: {
      ...mapActions({
        _setBackButton: '_layout/setBackButton',
      }),

      back() {
        let backButton = this._backButton;
        // Reset the back button
        this._setBackButton(false);
        if (_.isObject(backButton)) {
          const resolved = this.$router.resolve(backButton);
          const current = this.$router.resolve(true); // Current route (Not sure the meaning of it)
          if (current.href != resolved.href) {
            this.$router.push(backButton);
            return;
          }
        }
        // Go back to the history
        this.$router.go(-1);
      },
    },
  };
</script>

<style lang="scss">
  .back-link {
    cursor: pointer;
    color: $secondary;
    font-size: 16px;
    opacity: 0.9;
    &:hover {
      color: $primary;
    }
    &:active {
      color: $primary;
      opacity: 1;
    }
  }
  .back-link-icon {
    margin-right: 8px;
  }
</style>

<i18n>
{
  "en": {
    "back": "Back"
  },
  "fr": {
    "back": "Retour"
  }
}
</i18n>
