<!--
http://github.serafin.io/vuebar
-->
<template>
  <div ref="main">
    <div v-bar class="vuebar-view">
      <div ref="vuebar" class="vuebar-div" v-resize="onContentResize">
        <slot></slot>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from 'vue';

import Vuebar from 'vuebar';

Vue.use(Vuebar);

export default {
  props: {
    param: {
      type: Object,
    },
  },

  data() {
    return {
      options: {
        preventParentScroll: true,
        useScrollbarPseudo: true,
      },
      rTop: null,
      rBottom: null,
      rLeft: null,
      rRight: null,
      sTop: null,
      sLeft: null,
    };
  },

  methods: {
    onContentResize() {
      $(window).resize();
    },

    onScroll(event) {
      const target = event.target || event.srcElement;

      // init
      if (this.sTop === null) {
        this.sTop = target.scrollTop;
        this.scrollY(event);
      }
      if (this.sLeft === null) {
        this.sLeft = target.scrollLeft;
        this.scrollX(event);
      }

      // scrollY, scrollUp, scrollDown
      if (target.scrollTop < this.sTop) {
        this.scrollY(event);
        this.scrollUp(event);
      } else if (target.scrollTop > this.sTop) {
        this.scrollY(event);
        this.scrollDown(event);
      }

      // scrollY, scrollUp, scrollDown
      if (target.scrollLeft < this.sLeft) {
        this.scrollX(event);
        this.scrollLeft(event);
      } else if (target.scrollLeft > this.sLeft) {
        this.scrollX(event);
        this.scrollRight(event);
      }

      // reachTop
      if (!this.rTop && target.scrollTop <= 0) {
        // The boolean helps to trigger only once the event
        this.rTop = true;
        this.reachTop(event);
      } else if ((this.rTop || this.rTop === null) && target.scrollTop > 0) {
        this.rTop = false;
        this.leaveTop(event);
      }

      // reachBottom
      if (
        !this.rBottom
          && target.scrollTop + target.offsetHeight >= target.scrollHeight
      ) {
        // The boolean helps to trigger only once the event
        this.rBottom = true;
        this.reachBottom(event);
      } else if (
        (this.rBottom || this.rBottom === null)
          && target.scrollTop + target.offsetHeight < target.scrollHeight
      ) {
        this.rBottom = false;
        this.leaveBottom(event);
      }

      // reachLeft
      if (!this.rLeft && target.scrollLeft <= 0) {
        // The boolean helps to trigger only once the event
        this.rLeft = true;
        this.reachLeft(event);
      } else if ((this.rLeft || this.rLeft === null) && target.scrollLeft > 0) {
        this.rLeft = false;
        this.leaveLeft(event);
      }

      // reachRight
      if (
        !this.rRight
          && target.scrollLeft + target.offsetWidth >= target.scrollWidth
      ) {
        // The boolean helps to trigger only once the event
        this.rRight = true;
        this.reachRight(event);
      } else if (
        (this.rRight || this.rRight === null)
          && target.scrollLeft + target.offsetWidth < target.scrollWidth
      ) {
        this.rRight = false;
        this.leaveRight(event);
      }

      this.sTop = target.scrollTop;
      this.sLeft = target.scrollLeft;
    },

    scrollY(event) {
      this.$emit('scrollY', event);
    },
    scrollUp(event) {
      this.$emit('scrollUp', event);
    },
    scrollDown(event) {
      this.$emit('scrollDown', event);
    },

    scrollX(event) {
      this.$emit('scrollX', event);
    },
    scrollLeft(event) {
      this.$emit('scrollLeft', event);
    },
    scrollRight(event) {
      this.$emit('scrollRight', event);
    },

    reachTop(event) {
      this.$emit('reachTop', event);
    },
    leaveTop(event) {
      this.$emit('leaveTop', event);
    },

    reachBottom(event) {
      this.$emit('reachBottom', event);
    },
    leaveBottom(event) {
      this.$emit('leaveBottom', event);
    },

    reachLeft(event) {
      this.$emit('reachLeft', event);
    },
    leaveLeft(event) {
      this.$emit('leaveLeft', event);
    },

    reachRight(event) {
      this.$emit('reachRight', event);
    },
    leaveRight(event) {
      this.$emit('leaveRight', event);
    },
  },

  mounted() {
    // Overwrite specified options as props
    if (this.param) {
      this.options = { ...this.options, ...this.param };
      this.$vuebar.refreshScrollbar(this.$refs.main, this.options);
    }
    // Bind onScroll event
    this.$refs.vuebar.addEventListener('scroll', this.onScroll);
    this.$refs.vuebar.dispatchEvent(new CustomEvent('scroll'));

    // Attach onresize event
    $(window).on(`resize.${this._uid}`, this.onResize);
  },

  beforeDestroy() {
    // Unbind onScroll event
    this.$refs.vuebar.removeEventListener('scroll', this.onScroll);
    // Use namespace to not unbind other binding on same element
    $(window).off(`.${this._uid}`);
  },
};
</script>

<style lang="scss">
  .vuebar-view {
    touch-action: none;
    position: absolute !important;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    overflow: hidden;
  }

  // This div helps to avoid margin-collasping issue (the scrolling size won't take into account the margin)
  // https://developer.mozilla.org/en-US/docs/Web/CSS/CSS_Box_Model/Mastering_margin_collapsing
  .vuebar-div {
    position: relative;
    display: inline-block;
    width: 100%;
  }

  .vb > .vb-dragger {
    z-index: 5;
    width: 6px;
    right: 0;
    margin: 0;
    transition: visibility 0s 0.2s, opacity 0.2s linear;
  }

  .vb:hover > .vb-dragger,
  .vb:focus > .vb-dragger,
  .vb > .vb-dragger:active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.2s linear;
  }

  .vb > .vb-dragger > .vb-dragger-styler {
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: rotate3d(0, 0, 0, 0);
    transform: rotate3d(0, 0, 0, 0);
    -webkit-transition: background-color 100ms ease-out, margin 100ms ease-out,
      height 100ms ease-out;
    transition: background-color 100ms ease-out, margin 100ms ease-out,
      height 100ms ease-out;
    background-color: rgba(170, 170, 170, 0.2);
    margin: 0;
    border-radius: 1px;
    height: 100%;
    display: block;
  }

  .vb.vb-scrolling-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(170, 170, 170, 0.5);
  }

  .vb > .vb-dragger:hover > .vb-dragger-styler {
    background-color: rgba(170, 170, 170, 0.7);
    margin: 0px;
    height: 100%;
  }

  .vb.vb-dragging > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(170, 170, 170, 0.7);
    margin: 0px;
    height: 100%;
  }

  .vb.vb-dragging-phantom > .vb-dragger > .vb-dragger-styler {
    background-color: rgba(170, 170, 170, 0.7);
  }

  // Mouse and Touch pad
  // https://medium.com/@ferie/detect-a-touch-device-with-only-css-9f8e30fa1134
  @media (hover: hover) and (pointer: fine) {
    .vb > .vb-dragger {
      width: 8px;
      visibility: hidden;
      opacity: 0;
      margin: 1px;
    }
    .vb > .vb-dragger > .vb-dragger-styler {
      border-radius: 20px;
      margin: 1px;
      height: calc(100% - 4px);
      background-color: rgba(170, 170, 170, 0.3);
    }
  }
</style>
