<template>
  <span class="upload-wrapper">
    <span @click.stop="callFileUpload" class="upload-slot">
      <slot>
        <b-button variant="outline-primary"><i class="fas fa-cloud-upload-alt upload-icon"></i>{{ $t('upload-file') }}</b-button>
      </slot>
    </span>
    <file-upload :name="getName" ref="upload" v-model="files" :data="data" :post-action="postAction" :headers="headers" :accept="accept" :extensions="extensions" :size="size" :thread="thread" :multiple="multiple" :drop="drop" :drop-directory="dropDirectory" @input-filter="inputFilter" :add-index="10" class="upload-lib"></file-upload>
  </span>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex';

  export default {
    name: 'Upload',

    props: {
      // Start immediatly the Upload
      immediate: {
        type: Boolean,
        default: true,
      },

      // Same parameters as https://lian-yue.github.io/vue-upload-component/#/en/documents
      data: {
        type: Object,
        default() {
          return {};
        },
      },
      accept: {
        type: String,
        default: 'image/*',
      },
      extensions: {
        default: null,
      },
      size: {
        type: Number,
        default: 1024 * 1024 * 10, // 10 MB
      },
      thread: {
        type: Number,
        default: 5,
      },
      multiple: {
        type: Boolean,
        default: false,
      },
      drop: {
        type: Boolean,
        default: false,
      },
      dropDirectory: {
        type: Boolean,
        default: false,
      },
    },

    data() {
      return {
        postAction: `${process.env.VUE_APP_API_URL}/api/files/upload`,
        files: [],
      };
    },

    computed: {
      ...mapGetters({
        _authorization: '_auth/authorization',
        _files: '_upload/files',
      }),

      getName() {
        return `file_${this._uid}`;
      },

      headers() {
        const headers = {
          'Api-Key': process.env.VUE_APP_API_KEY,
          Authorization: this._authorization,
        };

        // For staging/production 'Operator' is filled by nginx via the subdomain name (or other method)
        if (process.env.NODE_ENV === 'development') {
          headers.Operator = process.env.VUE_APP_DEV_OPERATOR;
        }
        return headers;
      },
    },

    watch: {
      files: {
        deep: true,
        handler(newVal, oldVal) {
          // Find ID and CRUD the target file
          if (_.isArray(newVal)) {
            for (const file of newVal) {
              this._setFile(file);
              if (file.success) {
                // Remove first from the component list
                const files = [];
                for (const i in this.files) {
                  if (file.id != this.files[i].id) {
                    files.push(this.files[i]);
                  }
                }
                // Rebuild the local list
                this.files = files;
                // If the file is uploaded successfully, we delete it from the list after a timer (for visual effect)
                this.$nextTick(() => {
                  setTimeout(() => {
                    this._removeFile(file);
                  }, 3000);
                });
              }
            }
          }
        },
      },
    },

    methods: {
      ...mapActions({
        _setFile: '_upload/setFile',
        _removeFile: '_upload/removeFile',
      }),

      callFileUpload() {
        // getName return the id of the input
        $(`#${this.getName}`).click();
      },

      async inputFilter(newFile, oldFile, prevent) {
        if (newFile && !oldFile) {
          // Filter system files or hide files
          if (/(\/|^)(Thumbs\.db|desktop\.ini|\..+)$/.test(newFile.name)) {
            return prevent();
          }
        }

        // Create a blob field for preview
        newFile.blob = '';
        const URL = window.URL || window.webkitURL;
        if (URL && URL.createObjectURL) {
          newFile.blob = URL.createObjectURL(newFile.file);
        }

        // Refresh the Authorization token
        await this.$store.dispatch('_auth/getAuthorization');

        // Send immediatly the file
        if (this.immediate) {
          this.$refs.upload.active = true;
        }
      },
    },
  };
</script>

<style lang="scss">
  .upload-wrapper {
    cursor: inherit;
    position: relative;
  }

  .upload-icon {
    padding-right: 10px;
  }

  .upload-slot {
    z-index: 2;
  }

  .upload-lib {
    z-index: 1;
    position: absolute;
    height: 0;
    width: 0;
  }

  .file-uploads label {
    cursor: inherit;
  }
</style>

<i18n>
{
  "en": {
    "upload-file": "Upload File"
  },
  "fr": {
    "upload-file": "Uploader un fichier"
  }
}
</i18n>
